[2018-01-12 14:57] #760 closed

[2018-01-18 13:55] jerryhowe opened #761 "Trouble Building WebSocket Connection with an HTTP-Authenticated Bayeux Servlet"
I have ran into some trouble lately trying build a WebSocket connection from a Java Client to a CometD Servlet that requires an **HTTP-authentication**. My Java client falls back to Long-Polling transport, because the WebSocket upgrade request does not contain an **Authorization** header.

**web.xml snippet [server-side]:**
[code]

**Java client [client-side] code-snippet:**
[code]
*** comments to

[2018-01-18 15:54] gregw opened #762 "JSONDataFilter always mutates Map"
The JSONDataFilter always calls setValue on map entries, even if the value has not been mutated.  This causes `UnsupportedOperationException` if a immutable map is passed even if no mutations are done.

[2018-01-18 16:15] Mlong2177 commented on #762
Mutating the passed object is unexpected behavior, in and of itself.

Suppose the following psuedo code.

[code]

Wouldn't this lead to the escaper having run on the same text multiple times if multiple people subscribe to /hellochat?  That is very unintuitive behavior.

It seems to me that the solution should be cloning the map into a mutable version, and mutating the clone.

[2018-01-18 16:34] gregw commented on #762
While the DataFilter interface does have the capability of cloning if so desired, the filter is applied to the Mutable message.  I think the design is such that cometd switched to the immutable version before sending to multiple subscribers.... but we'll review... @sbordet what do you think

[2018-01-19 07:47] sbordet commented on #762
This is a case of a broadcast channel receiving a message and republishing the message _on the same channel_, which is wrong (the message will be published twice).

There is no need to republish the message, since the default Comet behavior for messages received on a broadcast channel is to publish to all subscribers.

[2018-01-19 07:57] sbordet commented on #761
Authentication in HTTP is typically based on challenges, so you must make a request, the server denies it and sends the client a challenge, the client replies to the challenge, the server verifies the challenge reply.

For Basic authentication, if you know before hand that the request is protected, you can short-cut the challenge by sending the challenge reply on the first request.

This is explai

[2018-01-19 14:23] Mlong2177 commented on #762
Except the re-publishing a message multiple times is intentional and required.  Further, you'll notice in the example I gave, it was NOT in response to receiving a message, but rather in response to the subscription to a channel.

[2018-01-21 14:55] gregw opened #763 "NPE during unit test in build"
Several NPEs are thrown during a build that do not result in test failures:
[code]

[code]

[code]

[2018-01-21 15:19] gregw commented on #762
I reopened because looking at JSONDataFilter, it is very inconsistent and inefficient about how it mutates data structures.  It always replaces Lists and Collections with new arrays, it modifies arrays directly and attempts to modify Maps (even if immutable).

ac11379 is a branch where I have made this behaviour consistent.  New containers are created only if the filter mutates a value and a new c

[2018-01-22 07:43] fergardi opened #765 "Vue Cometd plugin"
Hello!

I need a CometD plugin for [VueJS](https://vuejs.org/) and, since you have no one yet, I'll try to build one from scratch based on the Angular one and make a PR to your repository with the result.

See you!

[2018-01-22 08:26] sbordet commented on #765
Note that CometD offers vanilla bindings (i.e. ones based on pure JavaScript with no other dependencies) and support both AMD and CommonJS/NodeJS styles of modules.

The only reason to have Angular 1.x bindings are that it has its own module system and that it requires to call `$apply()` to WebSocket callbacks.

From what I understand, Vue does not have any wrapper around `XMLHttpRequest` or `WebS

[2018-01-23 10:42] #762 closed

[2018-01-24 10:13] makobernal opened #766 "Java client does not support additional objects on subscribe"
Unlike the Javascript client's _subscribe()_, or the Java and Javascript handshake(), cometd's java client does not support adding additional objects to the initial message sent on a subscription to a channel.

https://github.com/cometd/cometd/blob/846ceb4d627252699a4dcaa44db3766793db428a/cometd-java/cometd-java-common/src/main/java/org/cometd/common/AbstractClientSession.java#L461

This means tha

[2018-01-24 10:19] sbordet commented on #766
Can you expand on this use case ?

Typically the additional fields are only needed during the handshake to validate the session.
Once you have a valid `ServerSession` you trust it.

Thanks!

[2018-01-24 10:24] leopal77 opened #767 "How to completely disable binding to multicast address (in static-discovery mode)?"
On one of our cluster setups we use static discovery, but we've seen that cometd still receives multicast messages coming from another setup (on the same network) that uses automatic discovery.

It seems that by using static discovery (not using `OortMulticastServlet`) the only thing that is disabled is being advertised. Not receiving advertisements.

So in the logs of a SetupA-node we see:  `Baye

[2018-01-24 10:39] sbordet commented on #767
I don't understand what the problem is ?
Can you please reword by stating you exact setup, name the nodes, specify how each node is configured, what you expect to happen, and what happens instead ?

[2018-01-24 10:41] makobernal commented on #766
In our use case we have channels which are restricted to each connected user.

An implementation of `Authorizer` validates the session is valid, and also that the user associated to this session can subscribe to this channel, and no one else.

Since in our use case they are dealing with the Javascript client this hasn't been a problem until I tried creating a little java app to connect to cometd.

[2018-01-24 11:01] sbordet commented on #766
From your description you only need the session, the channel and the user associated to the session.

Why would you need additional fields on subscribe messages ?

[2018-01-24 11:07] leopal77 commented on #767
Let me explain.

We have two setups of our app in the same network. Let's name them setupA and setupB

SetupA consists of a single node ,let's call it **setupAnode1**. In this node cometd is configured to use `OortMulticastConfigServlet`. We only provide the `oort.url` parameter containing the **setupAnode1** ip. The rest configuration parameters are the default ones(including multicast address).

[2018-01-24 11:08] makobernal commented on #766
Sorry for the confusion, I meant our concept of session (which is how we can retrieve the user), not Bayeux ServerSession.

Our javascript clients have been passing this on an additional field on the subscribe message.

[2018-01-24 14:05] leopal77 opened #768 "Clients can't connect to oort Cloud"
We have the same setup mentioned in this [thread](https://github.com/cometd/cometd/issues/767) (setupB).

We have added a CometListener for `cometJoined` and `cometLeft` events to ensure that the 2 nodes of our setup have correctly identified each other. From the logs we can see that the connection between the two oort comets is established.

However, when we access the part of the app where comet

[2018-01-24 20:34] sbordet commented on #766
@makobernal you cannot trust an id passed along with subscribe messages, unless you pair it with the `ServerSession` id; and at that point, you don't need your id.

[2018-01-25 08:22] makobernal commented on #766
What would be the preferred way of authorizing access to some channels upon subscription, upon some arbitrary data or challenge, if a payload cannot be sent in the subscribe message?

I'm also curious as to why would the Javascript client implementation would support it, but not the Java client

[2018-01-25 09:07] sbordet commented on #766
You have a point about the possibility to customize the subscribe message. As this is an API change, it'll be scheduled for 4.0.x.

[2018-01-25 11:44] sbordet commented on #766
@makobernal I made the change in CometD 4.0.x, would you try it to see if it fits your case ?

Be _very_ careful at passing your custom session ids around. You want to read the CometD [security section](https://docs.cometd.org/current/reference/#_security) to see what kind of attacks you may be exposing yourself to.

[2018-01-25 14:20] #763 closed

[2018-01-25 14:48] sbordet commented on #768
What do you have between the client and the server nodes to direct traffic ? A load balancer ?

You need `Seti` if you need to find a specific client in the cluster.
If an event arrives to `nodeB1` and that event if destined to a specific client that is connected to `nodeB2`, then you will need `Seti`.
If your events are always broadcast to add clients, you don't need `Seti`.

[2018-01-25 14:52] sbordet commented on #767
The only way that the B cluster is aware of nodeA is that either you have configured by mistake the B cluster with the nodeA URL (or with a node that transitively knows nodeA), or you have by mistake the multicast component active also in the B cluster.

[2018-01-26 06:51] leopal77 commented on #767
As for the multicast, **setupAnode1** uses `OortMulticastConfigServlet`. In servlet's configuration we have not added any oort multicast parameter(I am referring to `oort.multicast.groupAddress`) so as I can understand from the documentation,  the `239.255.0.1`(default) is used as multicast address in setupA.

Now in setupB, `OortStaticConfigServlet` is used for both nodes. In this setup, we also

[2018-01-26 07:31] leopal77 commented on #768
It is clear that we don't need `Seti` as events are never destined to spesific client, only to channels that client have subscribed.

You are right, for directing traffic between nodes, we use a load balancer. Any advice on how I can track the source of the problem? I have added breakpoints to cometd source code but I can not understand much. For some reason, `processMetaConnect` method of `Abstra

[2018-01-26 08:02] sbordet commented on #768
For CometD to work, you need to make sure that the load balancer sticks each client to the same server, as explained in [this section](https://docs.cometd.org/current/reference/#_java_oort).

[2018-01-26 08:53] leopal77 commented on #768
This is my load balancer configuration. I tried setting `ProxySet stickysession=BAYEUX_BROWSER`  but no luck.

[code]

[2018-01-26 09:21] sbordet commented on #768
Cannot help you here, as I don't know what load balancer is that. There are plenty of people using Oort behind a load balancer, so I am sure it is only matter for you to find the right configuration for your load balancer.

[2018-01-26 09:33] makobernal commented on #766
I've tried with a locally built 4.0.x branch and it does work, my server-side `Authorizer` is now able to read the first `ServerMessage` on a subscribe operation. I think this puts it on par with the javascript client. Thank you for the commits.

I will definitely have a read to the security section, and perhaps try to tamper with my own sessions on our cometd endpoint to verify our risk.

[2018-01-26 09:38] sbordet commented on #766
Thanks for feedback, closing this issue.

[2018-01-26 09:38] #766 closed

[2018-01-26 10:49] leopal77 commented on #768
It's an apache httpd load balancer. Is there any known tested working load balancer configuration to use for my tests?I need to eliminate the root of the problem and I think it's a good step.

 Another question, in `OortStaticConfigurationServlet` for `oort.url` and `oort.cloud` parameters should I use the ip addresses of nodes or their hostnames(DNS is used for hostname resolution)?

Thanks

[2018-01-26 15:55] sbordet commented on #768
I'm not familiar with Apache httpd.

For `oort.url` and `oort.cloud` typically IP addresses are best, unless you also want the nodes to be resolved via DNS to leverage other load balancing mechanisms.

[2018-01-29 12:54] leopal77 commented on #768
Hello Simon,

I have made a simple project that can reproduce the misfunctionality I have reported in this thread.

You can check it out at the following [link](https://github.com/leopal77/CometdAuctionDemo).

I am using Wildfly(10.1.0 Final) as application server with default `standalone-full-ha.xml`. For load balancer, as I mentioned above, I use Apache httpd but I am pretty sure you can use any

[2018-01-29 15:23] sbordet commented on #768
I would suggest another course of action.

You setup 2 nodes without load balancer.
You connect client1 explicitly to nodeA and client2 explicitly to nodeB.
You verify that your application works and that both client1 and client2 can correctly receive server events, no matter whether the server event arrives to nodeA or to nodeB.

If the above works, it means that it's not a CometD problem, nor a

[2018-01-31 12:09] leopal77 commented on #768
Following your advice, I reached the application directly from a cluster nodes's ip. The problem is still present so as you stated it's not a load balancer configuration problem.

Regarding the evidence where the communication is lost, from my point of view clients can't be authenticated by the bayeux server. Please inform me which extra technical information you want me to provide.

You can alway

[2018-01-31 13:06] sbordet commented on #768
What problem ? The original report was that clients could not connect through the load balancer. If you cannot connect to the server directly, you have a bigger network issue, and that has nothing to do with CometD.

[2018-01-31 14:28] leopal77 commented on #768
Let me clarify.

My application is a big project containing various sections. On of these sections(where CometD is envolved) is an auction room.

When **not in cluster mode** everything works as intended(including auction room) even the app is accessed through load balancer or not.

When running the app in cluster mode **with one node active** , auction room is also working great, independently of

[2018-01-31 14:39] sbordet commented on #768
Sorry but I still don't understand.

When a CometD client connects to a node, it does not matter whether the node is a single node or a node in a Oort cluster. `handshake` and `connect` messages from the client to the server are unrelated to Oort clustering.

There must be something not related to CometD that you have in *cluster mode* that prevents CometD to work properly.

Are you doing some kin

[2018-02-12 07:24] leopal77 commented on #768
Sorry for my delay.

Finally I 've managed to deal with the issue if have reported.

It was a combination of load balancer's configuration and security restrictions in our application.

This and the [other](https://github.com/cometd/cometd/issues/767) issue can now be closed.

Thanks for the support Simon.

[2018-02-12 13:07] sbordet commented on #768
Thanks for the feedback!

[2018-02-12 13:07] #768 closed

[2018-02-12 13:08] sbordet commented on #767
Closed as requested in #768.

[2018-02-12 13:08] #767 closed

[2018-02-12 17:06] fergardi commented on #765
Hello! I was able to replicate the vanilla code in my custom VueCometD plugin (which I intent to PR you with after some testing, don't worry).

Now the problem I'm experiencing is with sending the additional requestHeaders in order to send my Authorization Bearer token with. Following the documentation, it is done by:

[code]

But I keep getting 401 from my Jetty server! And in the WS devtools ins

[2018-02-13 16:00] sbordet commented on #765
By default Jetty does not implement the `Bearer` authentication, so you have to plug something inside Jetty server to make this work.

The vanilla CometD transport does handle request headers in the format you have specified, but only for the `http` transports, not `websocket` because there are no browser APIs to set a HTTP header when opening a WebSocket connection.

If you disable the `websocket

[2018-02-13 16:43] fergardi commented on #765
Thanks for your response, but it does not even handshake with that configuration.

[2018-02-13 21:52] sbordet commented on #765
Why do you have this:

[code]

Make sure that you client and your server have the `http` transports available.
They are the only way to send the `Authorization` header.

[2018-02-14 07:37] fergardi commented on #765
That code comes from the Angular plugin, on which I've based mine.

https://github.com/cometd/cometd/blob/master/cometd-javascript/angular/src/main/webapp/js/angular/angular-cometd.js#L79

I do believe both have the http transport enabled, cause I use OAuth for http/s API Authorization already.

I still believe I'm missing something here. How is usually OAuth Bearer token security handled with WS,

[2018-02-14 16:41] sbordet commented on #765
The `Bearer` token cannot be handled with WebSocket.

The angular binding replaces the vanilla transports with its own versions of those transports, so it unregisters all transports (the vanilla ones) before registering the angular specific transports under the same names.

If you are using the vanilla transports for Vue, you don't need to unregister the transports.

[2018-02-19 16:48] sbordet opened #769 "BayeuxClient.getChannel("/foo/") does not normalize the channel name"
This is similar to #681 but on the client:

[code]

but they must be the same (note the trailing slash).

[2018-02-20 09:59] #769 closed

[2018-02-22 05:53] dpnkr opened #770 "Is there any other way of knowing when to re handshake other than /meta/connect channnel listener ??"
How do I know when a re handshake is required ? And How do I re handshake ? Is it the way to do it :

1. client.disconnect() (after unsubscribe everything)
2. stop jetty http client
3. start jetty http client
4. initialize bayeux client
5. client.subscribe()
6. client.handshake()

OR
just
1. client.handshake() again in case re handshake required . Please note that in this way every time I try to d

[2018-02-22 08:48] sbordet commented on #770
I'm guessing this is the same as https://stackoverflow.com/questions/48902125/.
If so, the question/issue is incomplete since it entails updating the `Authorization` header, rather than using the CometD APIs.

[2018-02-22 08:48] #770 closed

[2018-02-22 13:35] dpnkr commented on #770
Hi @sbordet  can you please reply to the comment which I have added in that stackoverflow link ??

[2018-02-22 13:52] dpnkr commented on #770
Also can you answer the first part of the question(How do I know when a re handshake is required) which I asked here ???

[2018-02-22 14:14] sbordet commented on #770
A re-handshake is not required, as CometD performs automatic re-handshakes in your behalf.

[2018-03-08 12:51] m1m opened #772 "Messed up MANIFEST since 3.0.6"
Since 3.0.6 cometd dosen't work in OSGI environment. Export/Import sections are messed up.
e.g. same import/export packages in bayeux-api
[code]

I noticed that there were Bnd tool version change between 3.0.5 and 3.0.6
`Tool = Bnd-2.4.1.201501161923` for 3.0.5
`Tool = Bnd-3.2.0.201605172007` for 3.0.6 and later

[2018-03-09 08:57] sbordet opened #773 "Move to Log4J2"
Tests and demo still use Log4J1, we should move to Log4J2.

[2018-03-09 15:43] #773 closed

[2018-04-03 05:52] Pratibha24 opened #774 "Push Technology/Web Streaming classification"
I need to implement a framework for the web streaming but i am confused in the classification of streaming techniques and protocols. like HTTP, HTTP Long Polling, WebSockets, Bayeux protocol, Comet, Jetty etc. Can someone tell me the proper hierarchy/classification of the web streaming (pictorial view will be better) so that it will be easy for me to understand and design it in a better way.

Than

[2018-04-03 07:43] sbordet commented on #774
Google and Wikipedia are your friends here.

The [preface](https://docs.cometd.org/current/reference/) of the CometD documentation should also be of help.

You want to be more detailed about what exactly you mean by "web streaming" (what data, what constraints of latency, how many clients, etc.) for further information.

[2018-04-03 11:21] Pratibha24 commented on #774
I want to know the classification of Push technology. Like it can be break down to "HTTP" and "Web Sockets". And then HTTP can be classified into other categories.
So i want some pictorial view of this hierarchy , like where comet,Bayeux,transport protocol etc sits into the picture.

[2018-04-09 09:20] kyleabcha opened #775 "API Error=403 Unknown client Reconnection mechanism is shown correctly but not received messages after that"
Hi,

We are facing a critical issue with a long poll by using Salesforce Streaming API 42.0 and cometd 3.1.3. After every a few hours connected to Salesforce server, Salesforce returned an Unknown client Error=403 through /meta/connect channel with the following debugging messages
[code]
Reconnection mechanism is shown correctly.
[code]
Followed reconnection mechanism at https://docs.cometd.org/cu

[2018-04-09 09:43] sbordet commented on #775
Unfortunately, `error=403::Unknown client` is not something that is generated by CometD, but by the SalesForce application.
Why they generate that error, you have to ask SalesForce.

Please make sure your client application follows the recommendation in [this section](https://docs.cometd.org/current/reference/#_javascript_subscribe) - subscribe your channels from a `/meta/handshake` listener.

[2018-04-09 20:03] kyleabcha commented on #775
Thanks sbordet for your input. I am double checking the recommendation and let you know if it works.

[2018-04-11 18:47] kyleabcha commented on #775
Thanks sbordet it is a correct recommendation. The issue is closed.

[2018-04-11 18:47] #775 closed

[2018-04-25 16:27] sbordet commented on #772
When you say that it does not work, have you actually tried, or you are assuming based on the MANIFEST entries ?

I ask because the configuration of the `maven-bundle-plugin` used to generate the OSGi MANIFEST entries is similar to that of the Jetty project, and we know that Jetty works in OSGi.

The `maven-bundle-plugin` [documentation for the default behavior](http://felix.apache.org/documentati

[2018-05-09 07:24] fergardi opened #776 "Benchmarking project not working"
Hello.

I downloaded the benchmarking java project and tried to run the server with maven.

I got this error:

[code]

Then I went to https://mvnrepository.com/artifact/org.cometd.java/cometd-java-benchmark-common to search for this package and found that there is no "3.1.5-SNAPSHOT" version.

Finally I tried changing the pom version to "3.1.4" and then compiled but (of course) that gave me anothe

[2018-05-11 08:53] m1m commented on #772
Sorry for confusion, my problems were caused by something else

[2018-05-11 08:53] #772 closed

[2018-05-17 16:30] guruprasad83 commented on #775
@sbordet - Your comments above helped me to solve my case. Thanks a lot :)

[2018-05-22 00:36] wlisac opened #777 "Java Bayeux Client can send a disconnect message without a clientId"
I've noticed that it's possible for the Java Bayeux Client to send a `/meta/disconnect` message without a `clientId`.

According to the [protocol documentation](https://docs.cometd.org/current/reference/#_bayeux_meta_disconnect), a `/meta/disconnect` message must include a `clientId`.

### Steps to Reproduce
- Ask the client to handshake and then immediately attempt to disconnect.
[code]

### Expe

[2018-05-22 08:12] sbordet commented on #777
What CometD version are you using ?

client.disconnect();

That is considered bad API usage.

Calls to `handshake()` are asynchronous and are not guaranteed to even be started when the `handshake()` call returns.

The `clientId` is returned by the server, so any disconnect that happens _before_ the server replies to the handshake won't have a `clientId` to send.

Not sending the disconnect message

[2018-05-22 16:40] wlisac commented on #777
hi @sbordet – thanks for the quick reply :)

I'm writing a basic (long-polling) Bayeux client for a different platform and have been studying how the cometd client handles some edge cases (in an effort to keep my client relatively consistent).

I hadn't considered the connection-aware transport since my client is currently long-polling only.

My example above is clearly contrived, but I think it's

[2018-05-22 18:34] wlisac commented on #777
It looks like, by default, the server fails the disconnect message if it's missing a `clientId`.

**Request**
[code]

**Response**
[code]

[2018-05-22 20:21] sbordet commented on #777
CometD API were designed a while ago, and today's design may be different and more up-to-date with current technologies and patterns.

So if you're designing new APIs, maybe you want to make sure that `handshake()` returns something on which you can call `disconnect()`, so that there is less ambiguity on how to use the API.

Regarding the case at hand, I don't think the server should disconnect al

[2018-05-22 21:52] wlisac commented on #777
Makes sense. Thanks again for the help!

[2018-06-04 05:19] pemmasanikrishna opened #778 "Load balance among clients"
A new feature for client side load balancing would be helpful for having multiple clients listening to the channel, but avoiding duplication.

[2018-06-04 07:59] sbordet commented on #778
Can you detail exactly why would you need this feature and how exactly it would work ?

[2018-06-04 08:39] pemmasanikrishna commented on #778
I would like to scale number of clients horizontally, so that there wouldnt be a bottle neck between the cometd and the client. If there is a fast publisher, and the client is slow, it would be really handy to have the clients scaled horizontally.

[2018-06-04 11:31] sbordet commented on #778
I'm not sure I understand.

If you want to scale on a single machine, it would be enough to handle the messages received by a single client in a different thread - that would be the same as having multiple clients on the same machine but without the complication.

If you want to scale on multiple machines, you still need a single load balancer to load balance the load across multiple clients each

[2018-06-05 03:07] pemmasanikrishna commented on #778
Yes, thats true. We can have a load balancer , but still it would route all the messages sent to the channel to all the machines, but in intelligent scenario it should send only to one of the machines.
Suppose there are 3 machines that are subscribed to a channel "/foo", Then when 4 messages are sent consecutively to that channel, machine1 should receive the 1st message, machine 2 the second, m3 t

[2018-06-05 07:56] sbordet commented on #778
@pemmasanikrishna what if one of the machines goes down ?

I think that it's way better to have this done on the server side, in the application rather than in the library.
It would be trivial for you to know the N clients, and then use `ServerSession.deliver()` to round robin (or use any other algorithm) the message delivery. The acknowledgement extension will guarantee server-to-client message d

[2018-06-05 09:31] sbordet commented on #778
CometD already has all the primitives to do this yourself, using `ServerSession.deliver()` and the [acknowledgement extension](https://docs.cometd.org/current/reference/#_extensions_acknowledge)

[2018-06-06 06:15] pemmasanikrishna commented on #778
But what if the client doesnt have control over the server? May be like in the case of Salesforce platform events.

[2018-06-07 04:05] pemmasanikrishna commented on #778
Yeah, i do agree that its easy to implement, but was wondering what advantage do we get by problem to a different spot. Instead if the java client has a mechanism at least to query the server and get all the active clients subscribed for a particular channel, that would really help.

[2018-06-07 06:51] sbordet commented on #778
I don't see how it would help, can you detail?

[2018-06-12 03:43] pemmasanikrishna commented on #778
By retrieving the active clients that are currently listening to a particular channel, clients can have their own implementation of load balancing if they don't have control over server.

[2018-06-12 07:29] sbordet commented on #778
@pemmasanikrishna feel free to implement your solution, I'll have a look if you'd like.

[2018-06-13 19:13] Diagoras commented on #778
@sbordet Also joining in on this ask. While you're correct that a proxy can handle distributing the messages to workers, it's still a single point of failure. When using the Salesforce Streaming API, we'd generally prefer to only have Salesforce deal with the overhead and complexity of maintaining a stable CometD server and only have to deal with the client end ourselves.

I think this will likely

[2018-06-13 20:31] sbordet commented on #778
@Diagoras yes you are right that it would be a server job to round robin the messages to different clients. We discussed this in a previous comment, but being the Salesforce server it cannot be easily changed (and it's not a trivial task on the server either).

So a proxy solution would work and yes, it would still be a single point of failure. This can be mitigated in various ways (e.g. master/sl

[2018-07-06 17:08] Diagoras opened #780 "Clarify how to handle all fatal errors"
Hey,

I've been working on an internal library that tries to wrap the CometD Java client into a [Reactor Flux](https://projectreactor.io/). Part of this involves propagating all possible fatal events (terminal failures, server sent disconnects) as errors.

I've registered the necessary callbacks on [handshake](https://docs.cometd.org/current/reference/#_java_client_handshake) and [subscribe](https

[2018-07-13 09:58] rahmanusta opened #781 "Performance questions"
1) Is there any performance benefit if we use batching for only websocket transport is used?

There should be benefit for other protocols like Long-polling, because it'll push messages in one response and in an array [], instead of many separate messages when batching is enabled. However, when websocket is used, naturally only one connection is used and messages are transferred in frames whatever

[2018-07-13 13:40] sbordet commented on #781
1. There is a smaller benefit using batching for WebSocket because the implementation may be able to fit more than one CometD message in a WebSocket message. Even if that's not the case, batching could allow fewer TCP writes to send the messages.
Bottom line is that you should not care too much: if you know you have the chance to batch, do it, regardless of the transport.

2. [Lazy messages (or ch

[2018-07-13 14:36] rahmanusta commented on #781
1. I got it, however cometD doesn't batch multiple messages into a single Websocket frame when batching is enabled. Do I miss something ?

2. I created a demo to see lazy channel's effect in action
2.1 setLazy=true and setLazyTimeout=10 * 1000
2.2 pushes a message to the connected client on every 10ms
2.3 I expect cometD will collect some several messages and push them in single response, but actu

[2018-07-13 15:00] sbordet commented on #781
1. Currently it does not on the client (but may do in future), but can do on the server (see parameter `ws.messagesPerFrame` [here](https://docs.cometd.org/current/reference/#_java_server_configuration)).

2. I expect messages to be collected - do you have a reproducible case?

[2018-07-13 15:52] fdummert opened #782 "Reset backoff after successful connect"
Hi Simone,

the issue is described with logs attached in the [mailing list](https://groups.google.com/forum/#!topic/cometd-users/k0CygzoVd1c): BayeuxClient should reset the backoff after a publishing error not only on handshake but also on successful connect. In our case the backoff was incremented after a MessageTooLargeException permanently for the session lifetime until reaching max backoff. As

[2018-07-20 08:31] fdummert opened #783 "Memory leak with publish callback / extension that prevents sending"
Hi Simone,

using a publish callback in conjunction with an extension that prevents a message to be sent out is leading to a memory leak: the publish callback never gets unregistered. The issue is also explained in the [forum](https://groups.google.com/forum/#!msg/cometd-users/uykjb3KfpFQ/T74t9iSWBQAJ).

Best Regards,
Florian

[2018-07-26 16:14] Diagoras commented on #780
One note - I ended up having to override the `onTransportFailure(Message, ClientTransport.FailureInfo, ClientTransport.FailureHandler)` to capture all possible fatal exceptions, not the other method with the same name. For the benefit of any future developers Googling "BayeuxClient silently disconnects":

[code]

On top of that, you have to register a normal error handler on the subscribe call sin

[2018-07-30 06:57] #777 closed

[2018-07-30 15:40] #782 closed

[2018-07-30 16:34] sbordet commented on #782
@fdummert can you please try the latest code to verify it's working for you?

[2018-07-31 09:39] kyleabcha opened #784 "UTF-16 does not work"
Hi cometD team,

We are using cometD client version 3.1.4. It is not able to receive UTF-16 messages correctly. if a message contains a UTF-16 character, it is printing a question mark '?' character instead.

Could you please let me know how to deal with UTF-16 characters?

[2018-07-31 09:51] sbordet commented on #784
CometD uses JSON as message format. JSON requires UTF-8.

If you see `?` characters, it means that a certain points there has been a character to bytes (or bytes to characters) conversion that did not go well.

For example, you save a text on a file: there is a conversion from characters to bytes and let's assume you used UTF-16.

Later you want to send that text as a chat message in CometD; you r

[2018-07-31 09:57] kyleabcha commented on #784
Thanks Simone for your hint.

Will check and update you soon.

[2018-08-02 19:20] sbordet opened #785 "Deadlock when running WebSocket JavaScript tests"
The deadlock has been observed for `CometDDisconnectSynchronousTest.testDisconnectSynchronous()`.

[2018-08-02 19:34] sbordet commented on #785
The problem is that the test exits early for a failed assumption.

This causes a race between sending a WebSocket CLOSE frame and CometD trying to send a WebSocket TEXT frame for the `/meta/connect`.

The main thread queues a CLOSE in the `FrameFlusher` and after that the JavaScript thread queues a TEXT in the `FrameFlusher` from `WebSocketConnection.jsFunction_send()`; the JavaScript thread waits

[2018-08-02 19:37] #785 closed

[2018-08-13 07:39] JerryChin opened #786 "The order of statements are incorrectly placed."
https://github.com/cometd/cometd/blob/781c5a88c629254f02e34a31a379fbedab1c8022/cometd-java/cometd-java-server/src/main/java/org/cometd/server/transport/AsyncJSONTransport.java#L309-L315

Hey guys, I think the `if` statement should come before `state` assignment, or the last packet will be lost.

[2018-08-13 08:10] sbordet commented on #786
The order seems correct to me.
Can you detail how the last packet will be lost?

[2018-08-13 11:26] kyleabcha commented on #784
Hi Simone,

I double check but could not find any issue at the client codebase.

We are using CometD client for Java version and connect to Salesforce system. Below is the sample code used in our application. Could you please help with this? Many thanks in advance.

`package test;

import org.cometd.bayeux.Message;
import org.cometd.bayeux.client.ClientSessionChannel;
import org.cometd.client.Baye

[2018-08-13 12:11] sbordet commented on #784
Your code above is a receiving only client; if you receive messages with `?` characters, then the error happens on server side and you should contact SalesForce.

If the messages you receive are made of data that you gave to SalesForce, then you should double check that you gave SalesForce correct data (with correct encoding, etc.) and you should double check with SalesForce that they are performi

[2018-08-13 12:13] kyleabcha commented on #784
Thanks Simone for your quick feedback.

I will contact Salesforce for this and update you soon.

[2018-08-14 09:59] kyleabcha commented on #784
Hi Simone,

We got the update from Salesforce. Salesforce system does not support UTF-16 messages. No issue at CometD. So I close the ticket.

Thank you for the valuable feedback.

[2018-08-14 09:59] #784 closed

[2018-08-23 02:51] JerryChin commented on #786
My apology, I just realize that writing one single byte will always succeed.

[2018-08-23 02:52] #786 closed

[2018-08-28 08:28] sbordet opened #787 "BayeuxClient sends multiple Cookie headers"
The recent specification for `Cookie` headers is that only one must be sent: https://tools.ietf.org/html/rfc6265#section-5.4.

[2018-08-28 08:34] #787 closed

[2018-09-04 08:38] sbordet commented on #781
Closing since there is no further activity and lazy messages are tested and working as expected.

[2018-09-04 08:38] #781 closed

[2018-09-04 08:40] sbordet commented on #754
Closing as no further activity. Please open another issue if this is still a problem for you, but I do need DEBUG logs to understand what's going on.

[2018-09-04 08:40] #754 closed

[2018-09-04 08:41] #774 closed

[2018-09-04 08:42] #778 closed

[2018-09-04 08:42] #776 closed

[2018-09-04 08:44] sbordet commented on #765
Closing as the Vue plugin seemed ok (hey, we expect the PR!), but the issue went into WebSocket authentication issues that are not CometD related.

[2018-09-04 08:44] #765 closed

[2018-09-04 08:50] sbordet commented on #783
Fixed.

[2018-09-04 08:50] #783 closed

[2018-09-04 08:52] sbordet commented on #733
No further activity, closing. Please reopen if you need further information.

[2018-09-04 08:52] #733 closed

[2018-09-04 08:53] #732 closed

[2018-09-04 09:33] sbordet commented on #730
Closing as no further activity.

[2018-09-04 09:33] #730 closed

[2018-09-04 09:35] sbordet commented on #719
Closing as now there is a full NodeJS implementation of CometD, client and server on NPM.

https://www.npmjs.com/package/cometd
https://www.npmjs.com/package/cometd-nodejs-client
https://www.npmjs.com/package/cometd-nodejs-server

[2018-09-04 09:35] #719 closed

[2018-09-04 09:41] #646 closed

[2018-09-04 09:41] #635 closed

[2018-09-04 19:38] Diagoras commented on #778
@sbordet I see that this issue was closed and added to 3.1.5. Does that mean a PR to address the issue has been merged? If so, would you mind linking it to this issue?

[2018-09-04 21:13] sbordet commented on #778
There is no PR, this was not an bug but only a discussion of a particular scenario that is fixable on the server application.

One of the ideas proposed was, IMHO, not working (or I could not see how it could possibly work). I asked for details, but none.

Your comment about fixing it on the SalesForce server is right, but you have to ask them.

So from my point of view this discussion is closed a

[2018-09-05 00:46] Diagoras commented on #778
Understood. It sounds like you think this isn't the responsibility of the Bayeux protocol and CometD server, but instead should be layered on top? Maybe as an extension?

If so, that makes sense to me. Closing this out sounds good.

[2018-09-05 09:42] sbordet opened #789 "Support JPMS modules"
Add basic support for JPMS modules via `Automatic-Module-Name`.

[2018-09-05 09:45] #789 closed

[2018-09-05 09:47] sbordet commented on #780
Is this public so I can take a look?

[2018-09-05 10:08] #759 closed

[2018-09-05 11:56] #753 closed

[2018-09-05 16:07] Diagoras commented on #780
@sbordet It is not, but I can see about open sourcing the work so you can see our approach. It's definitely less than ideal (for example, right now it opens a new Bayeux session for each subscription) but might give you some ideas.

It might be quicker to get permission to show you the codebase than to put it on Github for everyone to see (since the latter requires clearing any credentials out of

[2018-09-05 17:03] sbordet commented on #780
@Diagoras I would not mind to take a look at it, even privately.

I'm thinking that it should not have been necessary to override `onTransportFailure()`, you should have been able to do everything via listeners.

If that is not the case, then I'd like to know the exact details of what listener is not called, and look into fixing that.

[2018-09-06 17:40] Diagoras commented on #780
@sbordet Awesome. I should be able to get back to you next week on that, once I'm done convincing my company that having you a sign an NDA for code we _want_ you to use is beyond pointless. ;)

As to `onTransportFailure()`, I can describe some scenarios. Failed subscriptions will have their relevant listener invoked, so they're fine.

However, unsuccessful connect attempts that receive advice like

[2018-09-07 12:35] Pratibha24 opened #790 "Difference between /meta/disconnect and /meta/unsubscribe call of Bayeux"
Hi,

@sbordet
For the salesforce streaming we have used CometD Bayeux client and once we are done we just call the bayeux.disconnect() and stops the client. If we do not call the unsubscribe , is there any harm over here?

What exactly is the purpose of disconnect and unsubscribe here?

The other query is , i tried to send some random headers in the request while handshake request using Comet for

[2018-09-07 21:29] sbordet commented on #790
No. The server will detect that the client is disconnected and remove the subscription metadata associated to that client.

The disconnect call disconnect the client completely from the server.

The unsubscribe call stops the client from receiving messages on the channel that was unsubscribed from. All other channels are still working as before, and the client can send messages to the server.

Sen

[2018-09-10 04:26] Pratibha24 commented on #790
Cool! Thanks a lot @sbordet .
You are always helpful and on the point.

Regards,
Pratibha

[2018-09-10 07:13] #790 closed

[2018-09-17 20:40] boris-petrov opened #791 "[4.0.0] NullPointerException in WebSocketTransport"
I updated to 4.0.0 (both the Java server and the JS client) and without too much changes in the code, I ran my project:

[code]

Tomcat/Shiro/CometD are at their latest versions. I have zero idea where this might come from. Suggestions?

[2018-09-17 20:47] sbordet commented on #791
The line that NPEs does:

[code]

The NPE should not happen since a request must exist, as well as an associated URI, and for that URI the scheme.

Can you try using Jetty instead of Tomcat?

[2018-09-17 21:00] boris-petrov commented on #791
Trying Jetty would be a bit involved as we have some Tomcat-specific things. I'll take a look tomorrow.

Is it possible something to be modifying the request before that and removing some of these things? Shiro-web? Perhaps my own code (or is this before any of my code being hit)?

I'll debug it tomorrow and write what exactly is null in this line.

[2018-09-18 08:55] boris-petrov commented on #791
OK, so the debugging showed that `request.getRequestURI()` returns a URI which is: `/project/streaming` and `getScheme()` on it returns `null` (which kind of makes sense). This comes from the websocket request from the FE: `ws://localhost:4200/project/streaming`. We use Ember CLI as a frontend build-pipeline and it actually proxies this request to our BE server which is at another port. I see in i

[2018-09-18 09:27] sbordet commented on #791
@boris-petrov that line retrieves whether the request has been made over a secure transport (a new feature in 4.0.0 - that's why works in 3.1.5), so IMHO it must be an absolute URI - this is because the JSR `HandshakeRequest` API does not give any other way to figure that out.

I can work it around by watching for NPEs and the like, but I think you should report this back to Tomcat.

[2018-09-18 09:41] sbordet commented on #791
@boris-petrov I pushed a work-around for this issue, can you test if it works for you?
See https://docs.cometd.org/current4/reference/#_build to build CometD.

[2018-09-18 09:52] boris-petrov commented on #791
I've opened a bug to Tomcat [here](https://bz.apache.org/bugzilla/show_bug.cgi?id=62731) - let's see what they'll say.

I'll try out master today or tomorrow, thanks for the support!

[2018-09-18 09:57] sbordet commented on #791
@boris-petrov note that the branch to try is not `master` but `4.0.x`. The `master` branch is not used because we maintain multiple releases (3.1.x, 4.0.x, etc.) and explicit numbering on branch names helps knowing where exactly one is. Thanks!

[2018-09-19 08:36] boris-petrov commented on #791
@sbordet - OK, this branch seems to fix that specific issue (or at least I think so, because of the following) but I'm getting a new exception now - `java.lang.ClassNotFoundException: org.eclipse.jetty.util.component.Dumpable`. I see that this is used in a number of places in the code - but isn't this Jetty specific? If you think this is a real problem, perhaps we should open a new bug and leave t

[2018-09-19 09:49] sbordet commented on #791
@boris-petrov please open a new issue about `Dumpable`.

[2018-09-19 10:04] boris-petrov opened #792 "[4.0.0] java.lang.ClassNotFoundException: org.eclipse.jetty.util.component.Dumpable"
I get this exception after upgrading from 3.1.5. Using Tomcat 9.0.12. First mentioned in https://github.com/cometd/cometd/issues/791.

[2018-09-19 10:09] sbordet commented on #792
`Dumpable` is part of `jetty-util` that should be in your war. Is that the case?

[2018-09-19 11:00] boris-petrov commented on #792
OK, my bad, I was importing local JAR files to test the other issue and hadn't added all necessary ones. Adding everything fixes this issue and also the other one.

[2018-09-19 11:00] #792 closed, assigned to nobody

[2018-09-19 11:01] boris-petrov commented on #791
@sbordet - as I noted in the other issue, your fix works and our project works fine with it. Thank you for the support! I'll be expecting a 4.0.1 release then. :) I'll leave you to decide when to close this issue.

[2018-09-19 11:54] #791 closed, assigned to nobody

[2018-09-25 20:29] andreifsolomon opened #793 "In AbstractHttpTransport _sessions should be protected instead of private"
Hi,

**Regarding cometd 3.1.4:**
When we extend **AbstractHttpTransport** we would like to have access to the **_sessions** class variable from the subclass. For instance, the **_logger** class variable is already allowing access to subclasses.

public abstract class AbstractHttpTransport extends AbstractServerTransport {
...
    **protected final Logger _logger = LoggerFactory.getLogger(getClass(

[2018-09-25 20:30] sbordet commented on #793
Why? I'm not keen to make `_sessions` a `public` field.

[2018-09-25 20:32] andreifsolomon commented on #793
Hi Simone,
It would help to have it protected, not public.

[2018-09-25 20:33] sbordet commented on #793
You have not explained why yet.

[2018-09-25 20:40] andreifsolomon commented on #793
For instance, if I want to override "**findCurrentSessions**" there is no way I can reference **_sessions** and use it part of my logic.

[2018-09-25 20:49] sbordet commented on #793
You have explained what, not why.

Just because you continue to say "I want `_sessions` protected, I want to override `findCurrentSessions()`, I want ... I want ...` you are not going to convince me.

Produce a detailed use case, what you are actually trying to do, why the current situation is not enough for what you want to do, present the alternative you have to code if `_sessions` will remain p

[2018-10-01 10:07] sunilchauhan89 opened #794 "CometD connect calls are causing OOM"
We are upgrading cometd server jars from 2.3.1 to 3.1.5 . We didn't upgrade client-side javascript files.

After upgrading, few cometd connect calls started taking more than a minute to respond and responded without any data. After enabling cometd DEBUG logs, we realized that when the application returns a large amount of data  ( usually more 500KBs ) in the response of connect calls, connect call

[2018-10-01 19:34] sbordet commented on #794
You should, it's a major release change.

As for the rest, there is too little detail to understand what's going on. 500 KiB of messages is not too much and especially if you're using `AsyncJSONTransport` they should not be a problem, provided that the client can read the data that the server sent.
Are you using the `AcknowledgedMessagesExtension`?

Like often happens, I think you have a problem i

[2018-10-11 09:53] fdummert opened #795 "Oort synchronization issues, part II."
Hi Simone,

we were discussing OortObject sync issues (#667) some two years ago. It seemed to be fine since you fixed some loopholes with that particular installation. Now we're having two more installations active (one 4 node oort cluster, one 2 node oort cluster) and unfortunately we're again seeing the NPE described in that ticket and the oort cluster not being able to resync properly after net

[2018-10-25 15:40] sbordet commented on #699
I have implemented a `Worker` based scheduler to resolve this issue.

@aquacode @unindented @bmorton would you be able to test it?

[code]

[2018-10-26 12:45] aquacode commented on #699
@sbordet Thank you so much for addressing this issue.
Unfortunately, I am no longer on the project that is using this code.
I have forwarded this ticket to the team however, and they will follow up if they have interest and time.
Thank you again!

[2018-10-26 17:17] nmorenor opened #796 "Can't build cometd"
Hi,

I'm trying to build cometd by running:

mvn clean install

But I get an error while doing that this is the output I get:

[ERROR]     Unresolveable build extension: Plugin org.apache.felix:maven-bundle-plugin:3.5.1 or one of its dependencies could not be resolved: Failed to read artifact descriptor for org.apache.felix:maven-bundle-plugin:jar:3.5.1: Could not transfer artifact org.apache.feli

[2018-10-26 17:20] sbordet commented on #796
It is there: https://repo.maven.apache.org/maven2/org/apache/felix/maven-bundle-plugin/3.5.1/.

You probably have hit a temporary glitch on Central or your network.

[2018-10-26 18:00] nmorenor commented on #796
Hey,

Thanks for your quick response. This was solved by doing something like this mvn -Dhttps.protocols=TLSv1.2 clean install perhaps is something that can be mentioned on docs.

[2018-10-26 18:01] sbordet commented on #796
What Java version and OS are you using to build CometD?
I don't need that system property on Ubuntu 18.10 with Java 11.

[2018-10-26 18:06] nmorenor commented on #796
Right now I'm running OSx with multiple versions of Java on the system. If I use java --version I get the 1.7.0 this could probably be the issue, not sure how mvn take which version of java to use from what is installed.

$echo $JAVA_HOME
/Library/Java/JavaVirtualMachines/jdk1.7.0_51.jdk/Contents/Home

[2018-10-26 20:46] sbordet commented on #796
https://central.sonatype.org/articles/2018/May/04/discontinued-support-for-tlsv11-and-below/

[2018-10-26 20:46] #796 closed, assigned to nobody

[2018-10-29 19:29] jaypatel512 opened #797 "Any place to see what changed between v3 and v4"
Hey all.

I tried searching for CometD documentation on what changed between v3 and v4, but failed to find any concrete information. did not see any CHANGELOG.md either.

Is there a place where we can keep this documentation so that we can make an informed decisions when we upgrade please.

[2018-10-29 19:37] sbordet commented on #797
https://docs.cometd.org/current/reference/#_migration_31_to_40

[2018-10-29 19:37] #797 closed, assigned to nobody

[2018-10-29 19:40] jaypatel512 commented on #797
Thanks @sbordet !

Did not see that in the docs. I was searching for "Changelog". Thank you so much for pointing me to the right direction. 👍 Cheers.

[2018-10-29 22:44] jaypatel512 commented on #590
Hey @sbordet !

We are trying to get cometD server running in Spring Boot Application that prohibits us to use any xml. We tried your example, but we are having trouble getting it to work. We use tomcat and NOT Jetty for this.

Do you have a documentation that can help us point to the right direction. We could not find anything online that worked. E.g. Sample project.

[2018-10-30 15:32] #590 closed

[2018-10-30 15:33] sbordet commented on #590
@jaypatel512 I added a fully working Spring Boot 2.x example in the source code.
See a0e0f5b91ac42cfdb0e9f9e6e9784b287c8f83b3, in particular class `CometDApplication`.

[2018-10-30 19:28] Iteratrix opened #798 "Allow dynamic subscription for Java client"
[CometD already clearly documents](https://docs.cometd.org/current4/reference/#_javascript_subscribe_resubscribe) how to handle dynamic subscription and unsubscription after a handshake has completed for the Javascript client. However, I haven't been able to find any similar documentation for the Java client, and the technique described for Javascript doesn't seem to translate to the Java library.

[2018-10-30 21:07] jaypatel512 commented on #590
Hey @sbordet !

Thank you so much for a prompt response as always. I tried implementing `CometDApplication`, `DemoServlet` and `ChatService` almost exactly the same way, with one exception that our CometDApplication extends `SpringBootServletInitializer`.

But even then, I am getting `_bayeux` bean not found in ChatService. Am I missing something here ? Or do I need more than these 3 files ?

Than

[2018-10-30 21:26] sbordet commented on #590
@jaypatel512 `SpringBootServletInitializer` implements `WebApplicationInitializer` and I was not able to make it work either. Probably something changed in Spring Boot.
However, it works if you implement `ServletContextInitializer`.
Try to dig into the Spring Boot documentation.

[2018-10-30 21:40] jaypatel512 commented on #590
Will do. And found one other tiny issue/mistake on my end was with using Spring's `@Service` and not cometd `@Service`. Not easy to point the difference. 🤣

[2018-10-30 21:59] jaypatel512 commented on #590
I think I was able to get it to work mostly. The final issue I found was related to my ChatService autowiring few services. As the `ChatService.class.getName()` is used as a part of initparams, and we allow cometD to initialize that class, we cannot autowire other dependencies using Spring @Autowired annotations. Not sure if that is doable @sbordet

[2018-10-30 22:49] sbordet commented on #590
It should be doable, as [documented](https://docs.cometd.org/current/reference/#_java_server_services_integration_spring).

The idea is that instead of having `AnnotationCometDServlet` play the role of the dependency injection container, you let Spring do that, and only use `ServerAnnotationProcessor` to process CometD-specific annotations.

[2018-11-06 13:23] michaelherger commented on #765
@fergardi would you have working Vue/CometD code?

[2018-11-06 15:10] akauppi opened #799 "Cometd.org is quarantined by Chrome"
The web site mentioned in the GitHub project's title is currently (6-Nov-18) quarantined by Chrome:

<img width="662" alt="nayttokuva 2018-11-6 kello 17 05 16" src="https://user-images.githubusercontent.com/1297734/48073055-8d0d8000-e1e6-11e8-9604-2b42d1d0524c.png">

(it's in Finnish but I think you recognize the dialog. Essentially: don't get there - its safety cannot be guaranteed)

I'm new to C

[2018-11-06 16:42] sbordet commented on #799
Thanks! I have renewed the certificates.

[2018-11-06 16:42] #799 closed, assigned to nobody

[2018-11-07 17:51] sbordet opened #800 "Failed /meta/connect retried with existing /meta/connect"
When the client has an outstanding `/meta/connect` request, it may issue a new `/meta/connect` request - for example because of reloads or because of timeouts.

In such case the old `/meta/connect` should be failed and no further action taken.

Instead, the failure of the existing `/meta/connect` causes a retry, and now there are 2 outstanding `/meta/connect` requests; the second will cancel the f

[2018-11-08 11:26] sbordet commented on #795
@fdummert I started looking at this but then got sidetracked by other things.

[2018-11-09 18:32] Iteratrix opened #801 "Allow async customization of long polling request"
`LongPollingTransport` defines an empty `protected void customize(Request request)` method, presumably so that subclasses can override it in order to customize the request before it's sent. Unfortunately, this method returns immediately so it can't be used to customize the request with the result of an asynchronous operation. For example:

[code]

Adding an alternative that accepts a `Promise<Requ

[2018-11-13 14:21] #800 closed, assigned to nobody

[2018-11-16 12:43] punith619 opened #802 "Throwing NPE is onTransportFailure() method."
Throwing NPE is onTransportFailure() method since transport is NULL and trying to get the name getTransport().getName() of the transport throws NPE.

 if (Message.RECONNECT_NONE_VALUE.equals(failureInfo.action)) {
            if (Channel.META_HANDSHAKE.equals(message.getChannel())) {
                if (failureInfo.transport == null) {
                    onTransportFailure(getTransport().getName(

[2018-11-16 13:06] sbordet commented on #802
`failureInfo.transport` and `getTransport()` may return two different transport instances, so the code does not throw a NPE.
Do you have a stack trace?

[2018-11-19 12:17] punith619 commented on #802
The client throwing NPE when the handshake fails if the host is unavailable (UnkownHostException)
Stacktrace:
java.lang.NullPointerException
     at org.cometd.client.BayeuxClient.onTransportFailure(BayeuxClient.java:1043)
     at org.cometd.client.BayeuxClient.failHandshake(BayeuxClient.java:742)
     at org.cometd.client.BayeuxClient.handshakeFailure(BayeuxClient.java:731)
     at org.cometd.cli

[2018-11-19 13:47] sbordet commented on #802
What CometD version?

[2018-11-19 14:03] punith619 commented on #802
Sorry, I forgot to mention. I am using v3.1.3.

[2018-11-21 13:00] sbordet commented on #802
This has already been fixed by 921e0b9d2233e4357e393e1fb09bbb9f63303777 in 3.1.4.

[2018-11-21 13:00] #802 closed, assigned to nobody

[2018-11-21 19:11] Iteratrix commented on #780
@sbordet Unfortunately, there's still a holdup on showing you our integration with Reactor. I am cleared to work on this project in my free time, though, so hopefully I can contribute to making things reactive in CometD 4.

[2018-11-27 22:17] jaypatel512 opened #803 "Fetching Headers on receiving a message from cometD long-polling connection"
Hello folks,

We are using long-polling based Java Server setup. Our clients have two headers "SecurityContext" and "CorrelationID" that are automatically injected for each call to our server.

CorrelationID is used in our system to correlate all the logs that were generated during processing of this request across our entire ecosystem. And securityContext is used to identify our customers token.

[2018-11-27 22:45] sbordet commented on #803
In CometD 4 you can do:

[code]

[2018-11-29 19:47] jaypatel512 commented on #803
Makes sense. Thanks @sbordet !

Currently we are on CometD 3. Is there a way to do that ?

[2018-11-29 20:03] sbordet commented on #803
In CometD 3 you have to access the `BayeuxServer` instance, which typically is accessible from the service class:

[code]

[2018-11-29 20:17] jaypatel512 commented on #803
That is amazing. You are the best @sbordet ! Thanks a lot for such a quick response. Will test it out and close this issue once confirmed. Thank you again.

[2018-11-30 11:16] sbordet opened #804 "Review AcknowledgedMessagesSessionExtension usage of Thread.getId()"
In CometD 4 the processing is asynchronous, so `AcknowledgedMessagesSessionExtension` should avoid to use thread-local or map using `Thread.getId()` unless it it is guaranteed that the operations will happen in the same thread.

[2018-12-03 17:16] #803 closed, assigned to nobody

[2018-12-03 17:19] jaypatel512 opened #805 "A way to flush/deliver messages before disconnecting"
Hey folks,

We are currently sending some messages, and based on a flag disconnect the clients if the conversation/process is finished. If so, we call `client.disconnect()` on it to make sure the client no longer keeps the connection open.

However, this is causing client to disconnect even before receiving the messages. I was hoping to have a `client.disconnect(flushBeforeDisconnectBoolean)` or a

[2018-12-03 17:20] jaypatel512 commented on #805
This hints the need for completable futures for a bunch of client calls :) I am learning that and I can probably help in near future with that :)

[2018-12-03 18:01] sbordet commented on #805
I don't understand. If you want to disconnect, then you want to disconnect and therefore you cannot receive messages.
Blocking is not a great idea. How long do you want to wait?
Can you please detail your case?

[2018-12-04 14:52] jaypatel512 commented on #805
@sbordet !

This is server disconnecting the client. We have an event that basically ends a chat, and if we receive that, we disconnect all clients after sending them the last message (e.g. "You are removed from the room".).

Our server sends the message, and then calls disconnect.

What I was hoping to accomplish here was:

serverSession.send(message, onDelivered() {
    serverSession.disconnect(

[2018-12-04 15:12] sbordet commented on #805
@jaypatel512 this is already possible in CometD 4:

[code]

If you like Java's `CompletableFuture`, use `Promise.Completable` (a subclass of Java's `CompletableFuture`):

[code]

[2018-12-04 15:14] #805 closed, assigned to nobody

[2018-12-06 19:25] nathklei opened #806 "NPE using WebsocketTransport with Undertow"
I'm getting an NPE when trying to integrate Undertow's JSR 356 support with CometD.

In Undertow, `HandshakeRequest.getRequestURI()` returns just the path, not the full URL. This results in an NPE when seeing if the URI's scheme matches `https`:

[code]

This seems to be a blocker without completely reimplementing WebsocketTransport to reverse the `equals` call, or do something different. I could

[2018-12-06 19:26] nathklei commented on #806
Also of note, I couldn't figure out where the `secure` boolean was actually used in the websocket transport, so it could also just be defaulted to false.

[2018-12-06 19:56] sbordet commented on #806
What CometD version are you using?
The current 3.1.5 has (very) different line numbers with respect to the ones of your stack trace.
If you're not on 3.1.5, can you please upgrade and retry?

[2018-12-06 20:00] nathklei commented on #806
@sbordet I'm on `4.0.0`

[2018-12-06 20:05] nathklei commented on #806
Should I not use `4.0.0`? I'd been testing that version until now, but can go back down to `3.1.5` if you think this fixes the issue.

[2018-12-06 20:35] nathklei commented on #806
Looking into this a bit more, it does seem like this new constructor arg was added in 4.0.0, so it would probably make sense to fix forward if possible rather than downgrade. I'm still in development, not in production. Let me know if you need more information!

[2018-12-06 20:45] sbordet commented on #806
See #791.

It's already fixed in HEAD, would you be able to give HEAD a try to see if it works with Undertow?
I'll release 4.0.1 soon if you confirm.

[2018-12-06 21:28] nathklei commented on #806
Sure, I can try that. Are those jars available anywhere? Or do I need to build+publish locally?

[2018-12-06 21:35] sbordet commented on #806
I can quickly deploy them as SNAPSHOTs, available at https://oss.sonatype.org/content/repositories/snapshots/. That ok for you?

[2018-12-06 21:43] nathklei commented on #806
I'm building locally at the moment, but in case that doesn't work, that would be helpful.

[2018-12-06 21:48] sbordet commented on #806
They are deployed now. Just point your POM to read from that URL and use `4.0.1-SNAPSHOT` as CometD version.

[2018-12-06 22:39] nathklei commented on #806
@sbordet thanks, I just got that to resolve (using gradle, but works just the same). The fix seems to work on Undertow now - appreciate the quick response. Can you please cut a 4.0.1? My build system only allows non-snapshot versions.

[2018-12-07 14:19] #806 closed, assigned to nobody

[2018-12-10 14:43] #804 closed, assigned to nobody

[2018-12-11 03:10] nathklei commented on #806
Hi @sbordet, do you have any updates on when `4.0.1` might be released? Thank you for your help!

[2018-12-11 09:26] sbordet commented on #806
@nathklei I am finishing up #726 and after that I will probably cut the release. Hold on for a little longer.

[2018-12-11 13:52] #726 closed

[2018-12-11 17:23] nathklei opened #807 "OkHttp-based implementation of client AbstractWebSocketTransport"
At my organization, we use OkHttp for our http clients. For consistency I wrote an implementation of AbstractWebsocketTransport using the OkHttp `WebSocket` and `WebSocketListener` APIs. If this seems generally useful I can work on making the code public.

[2018-12-11 17:55] sbordet commented on #807
@nathklei yes it would be useful! - OkHttp has better Android support.
We have tests for various transports, so we can plug in this new one eventually.
FYI, CometD contribution guidelines: https://docs.cometd.org/current/reference/#_contribute_code
OkHttp is also AL2, so licensing wise there is no problem.

[2018-12-11 19:33] jaypatel512 commented on #805
Hey @sbordet !

We found an interesting bug with this in case of long-polling architecture. In some cases, we are seeing the messages being delivered before disconnect happens, and in some cases it disconnects beforehand.

The working theory in our head is, in case of long-polling (with multipleClient enabled), the messages is delivered to Server Queue successfully, and promise is returned once th

[2018-12-11 19:54] sbordet commented on #805
You have to clarify what you mean exactly by "disconnect". CometD disconnect message? TCP disconnect?

The server side promise cannot wait for the browser. The server side promise is completed as soon as the TCP write succeeds (or fails). Whether the message will arrive to the client, that is unknown to the server, and the server cannot wait.
It may still happen, however, that the messages and the

[2018-12-12 01:31] nathklei commented on #806
Great, thanks for the update

[2018-12-12 20:22] nathklei commented on #807
I've pushed the client here: https://github.com/cometd/cometd/pull/808
Feel free to comment on the PR!

[2018-12-13 12:53] sbordet commented on #807
@nathklei Thanks for the PR!
I'm currently busy on #795, so this has to wait a bit, but it's next on the list.

[2018-12-17 15:39] sbordet opened #809 "ServerSession may not be swept in AsyncJSONTransport"
There may be cases where the `ServerSession` is not swept because the expiration time was not set.

In `AsyncJSONTransport`, we write the response asynchronously; if the write is started, `onError()` guarantees that `startExpiration()` is called.
However, there is a little window before starting the write where there may be an exception but `startExpiration()` is not called.

[2018-12-18 16:00] supersteves commented on #700
I ran into the same problem today. CometD 3.1.5 crashing with NPE in AcknowledgeMessageException:157 because `Long batch` is null. Took me a few hours to realise this was happening because it was being swallowed by INFO log. I don't understand the resolution of this issue. Program errors (such as this case) should never be logged as INFO for exactly this reason - they get swallowed.

[2018-12-18 16:05] supersteves commented on #700
Clarification: it's quite common to have default logging at WARN level. As we do. I'd expect a program error to be at ERROR level. So here we have a program error at INFO level and our default at WARN so we never see program errors.

What I'm questioning here is: why are program *errors* with bundled extensions not get logged at *ERROR* level

[2018-12-18 16:08] sbordet commented on #700
@supersteves because everybody has a different opinion on what an error is, what a program is, and what a good default for logging frameworks is.

[2018-12-18 16:09] sbordet commented on #700
The NPE in the ack extension must not happen. If it still happens to you, please log a different issue.

[2018-12-18 16:13] supersteves commented on #700
Agreed, but perhaps there are other undiscovered problems in extensions that should be logged as ERROR.

[2018-12-18 16:21] supersteves opened #810 "AcknowledgeExtension NPE"
We've upgraded CometD / Jetty from 3.0.4 / 9.2 to 3.1.5 / 9.4.

We use vanilla CometD except we add in the Ack extension only.

Everything's great in real-world use (JS websocket client, Java server). However some of our tests use entirely server-side LocalSessions to simulate clients and assert high level message sequences in our app.

When running these tests locally, we get NPE here because `ba

[2018-12-18 16:21] supersteves commented on #700
The problem in question is https://github.com/cometd/cometd/issues/810

[2018-12-18 16:23] sbordet commented on #810
`LocalSession` does not heartbeat, so it does not make sense to attach an ack extension to it.
Do you have a reproducible test case I can look at for the exact details?

[2018-12-18 16:24] supersteves commented on #810
This is why I was reticent to file... no. It's tightly woven into closed source.

[2018-12-18 16:24] supersteves commented on #810
We use ack for order guarantee. Does that not matter for LocalSession?

[2018-12-18 16:30] sbordet commented on #810
`LocalSession` is delivered messages synchronously as they are published, so the message order is implicitly guaranteed, so you don't need to add the ack extension to `LocalSession`s.

Don't be reticent to file issues, they are an [important contribution](https://docs.cometd.org/current/reference/#_contribute) to the project.

You can perhaps detail in words (or pseudo code) what your closed sourc

[2018-12-18 16:34] sbordet commented on #794
@sunilchauhan89 news?

[2018-12-18 16:35] sbordet commented on #793
Closing - lack of activity.

[2018-12-18 16:35] #793 closed, assigned to nobody

[2018-12-18 16:37] #699 closed

[2018-12-18 16:43] supersteves commented on #810
OK sure.

First we create 2 test "clients", each being:

 - session.newLocalSession(unique name)
 - session.addExtension(new AckExtension())
 - session.handshake()
 - session.getChannel(channelId).subscribe(this::receive, callback)
 - The callback gets called, it's successful, in this callback...
 - session.getChannel(submitChannel).publish(initialMsg, callback)
 - The callback is successful

From

[2018-12-18 16:48] supersteves commented on #700
I can see why you want to use INFO for errors in extensions - perhaps these are 3rd party extensions, or non-program errors (e.g. IOExceptions). Not sure what the answer is here, but several people have had problems with program errors being swallowed.

[2018-12-18 17:29] sbordet commented on #810
So yes, the ack extension won't work on `LocalSession` - it is based on the heartbeat which is absent in `LocalSession`s.

You can easily replace your clients with `BayeuxClient` instances, and then the ack extension will work fine.

[2018-12-18 17:33] supersteves commented on #810
Thanks. I'm working on that already.

[2018-12-18 21:23] sbordet opened #811 "CometD Demo on HTTP/2 with Maven Jetty Plugin"
The CometD Demo, when run using the Maven Jetty Plugin, should also run over HTTP/2.
This would be done with a custom Jetty XML file to be passed to the Maven Jetty Plugin where connectors/TLS are configured.

[2018-12-19 10:54] #809 closed, assigned to nobody

[2018-12-20 12:09] sbordet opened #812 "WebSocket flusher notifies promise too early"
`AbstractWebSocketEndPoint.Flusher` overrides `succeeded()` and from there it notifies the promise associated with the entry.
This is wrong, since a single entry may produce multiple writes, and the promise must be notified only at the end of all writes.

[2018-12-20 12:12] #812 closed, assigned to nobody

[2018-12-21 09:04] #811 closed, assigned to nobody

[2018-12-21 12:36] sbordet commented on #806
@nathklei 4.0.1 has been released.

[2018-12-21 15:33] nathklei commented on #806
@sbordet thank you!

[2018-12-22 02:44] giantninja opened #813 "Syntax error via cometd.js WorkerSchedule blob"
CometD Version: 3.1.6
Script: cometd.js
Console error: `Uncaught SyntaxError: Unexpected token }`

The Web Workers code in cometd.js in the logic block on lines 1466-1502 throws an error when creating a new Blob object with a source code string from line 1467 `var code = WorkerScheduler.toString();`

The code variable is manipulated via regex and attempts to strip the function declaration and corr

[2018-12-26 07:51] boris-petrov commented on #813
Same here but with version 4.0.1.

[2018-12-26 14:35] #813 closed, assigned to nobody

[2018-12-30 20:04] sbordet opened #814 "Error reply message is successful when ServerChannel.MessageListener returns false"
Returning `false` from a `ServerChannel.MessageListener` produces a reply message with `successful: true` - this is wrong as the message has been "deleted".

[2018-12-30 20:15] #814 closed, assigned to nobody

[2019-01-07 08:49] sbordet commented on #801
@Diagoras I understand the need for customizing the request, but adding an async operation for every request sent by the client seems a lot of overhead.
Is the async source returning a different value every time?
Why can't you compute the async value once and use that inside `customize()`?

[2019-01-07 11:23] sbordet opened #816 "Normalize server handling of WebSocket close frame"
Currently, upon receiving a WebSocket close frame, the server-side WebSocket transports will null out the session, start the expiration interval for the session, and cancel the `/meta/connect` task.

This makes the behavior of the WebSocket transports slightly different from the HTTP transports, which don't do anything upon a client connection close.

By doing nothing in the WebSocket transports,

[2019-01-07 11:30] #816 closed, assigned to nobody

[2019-01-07 16:44] sharneha opened #817 "Cometd connect calls taking huge time respond, the waiting TTFb time is more than 30 seconds"
![cometd snapshot](https://user-images.githubusercontent.com/34139509/50780691-a0fa5e80-12c9-11e9-9d70-0fbdc1e60f6b.PNG)

[2019-01-07 17:19] sbordet commented on #817
The default value for the `timeout` parameter is 30 seconds, so the behavior you report is known as long-polling and it's expected and correct.

[2019-01-07 17:19] #817 closed, assigned to nobody

[2019-01-07 20:42] Iteratrix commented on #801
@sbordet You're correct that actually invoking an async request for each long polling request would be too much overhead, and also in saying that being able to cache a single token for the lifetime of the `LongPollingTransport` would be better. A more reasonable example is an authorization that's cached for some amount of time. Something like:

[code]

So most callbacks registered to that future w

[2019-01-14 19:55] sbordet opened #818 "OortObject.merge() NPE"
`OortObject.merge()` may NPE in case of faulty network conditions.

NodeA loses NodeB due to faulty network, but somehow a message from NodeB reaches NodeA.
This will re-create the `ObjectPart` but with a `null` `OortObject.Info`.
The message is queued for processing on the `ObjectPart` and since the `Info` is `null` a "pull" message is sent to NodeB (which may be unreachable again - or the reply

[2019-01-17 11:10] sbordet opened #819 "Make BayeuxClient backoff more flexible"
`BayeuxClient` has a retry with backoff mechanism for `/meta/handshake` and `/meta/connect` messages that are failed.

The mechanism is a linear backoff configurable with `backoffIncrement` and `maxBackoff`.

However, it would be better if the backoff mechanism could be pluggable so that different strategies can be implemented, such as a constant backoff, linear, exponential (similar to TCP, see h

[2019-01-17 13:47] boris-petrov opened #820 "Messages timeout when log level is changed"
Not sure how to explain this. It's *very* weird. Here goes. Using CometD 4.0.2.

Having the following `logback.xml`:

[code]

Causes published messages from the frontend to timeout. These messages reach neither my `@Listener` handlers, nor the `SecurityPolicy`'s `can{Publish/whatever}` methods on the Java backend.

Changing the level in the `logback.xml` file to `DEBUG` fixes that issue and all me

[2019-01-17 16:07] sbordet commented on #820
Looks very strange. Can you pack a simple reproducible case and attach it here?

[2019-01-17 16:31] sbordet opened #821 "Seti nodes out of sync after network failure"
SetiA with local user1 and SetiB with user2.
Network failure.
User1 disconnects from SetiA, user3 connects to SetiA.
SetiA loses SetiB.
At this point, SetiA has [user3], SetiB has [user1, user2].
Network restored.
SetiB re-handshakes to SetiA, and SetiA pushes all its local users to SetiB.
At this point, SetiA has [user3, user2] and SetiB has [user1, user2, user3].

The problem is that upon re-han

[2019-01-18 01:11] boris-petrov commented on #820
Well, as I said, creating a reproduction is an impossible task, so we'll have to approach this in another way.

After a little bit of trying, I found that downgrading only the Java version of CometD to 4.0.0 makes the problem go away. 4.0.1 and 4.0.2 don't work. So something in Java changed between 4.0.0 and 4.0.1 which broke it.

I'm willing to try patches/new versions on my setup to help you deb

[2019-01-18 08:17] sbordet commented on #820
@boris-petrov I have changed the logging of the CometD Demo to Logback, used your `logback.xml` and everything works fine for me.
Can you do the same and check if it works for you?

I don't clearly understand what you mean by "front-end". Are you using `BayeuxClient` to publish from a front-end server machine to a back-end server machine?
Where do you have your LogBack configuration?

Or you mean

[2019-01-18 08:29] boris-petrov commented on #820
Sorry, I should have been more specific. I'm using `cometd.js` version 4.0.2 which talks with a Java backend on which there is CometD 4.0.2.

I don't think it has anything to do with Logback. I think it is a timing issue which the logging just hides as it takes a lot of time to print a million things to the console. I will try what you suggest if all else fails as debugging.

Can we start with wha

[2019-01-18 08:40] sbordet commented on #820
@boris-petrov Here is the list of issues fixed: https://github.com/cometd/cometd/milestone/14?closed=1.

`git diff 4.0.0..4.0.1` gives you the diff for all the files.

I don't see how what you experience would not have been caught by our continuous integration... it may be a very rare case, but you seem to be able to reproduce at will.

You seem to have a very fundamental problem (you said you can

[2019-01-18 11:07] boris-petrov commented on #820
Yes, I reproduce it consistently.

Browser is latest Chromium 71.0.3578.98, Arch Linux, OpenJDK 11.0.1.

How I do it is I run our integration tests, put a big sleep somewhere, then when it stops there I open Chromium, navigate to the page, it opens fine and the websocket works fine, but then when I click somewhere and something over the websocket is supposed to happen, nothing does and the message

[2019-01-18 11:34] sbordet commented on #820
Show me the code.

That is too generic - I cannot help you if I don't know the details.

Big sleeps in WebSocket will halt all CometD processing, reading from the network, etc.
See https://docs.cometd.org/current/reference/#_concepts_threading.
If you have a "big sleep" it's normal that messages timeout.

To build CometD: https://docs.cometd.org/current/reference/#_build.

I don't understand how y

[2019-01-18 11:44] boris-petrov commented on #820
The big sleep is just to pause the test. We are using Capybara and in the middle of one of the tests I just put a `sleep 1000000` (in the JRuby code) so the test stops and I can play with the running system. This doesn't block the execution of the system in any way - it's still up and running. I just mentioned that to illustrate how I reproduce it.

I also don't understand how any of this is possi

[2019-01-18 11:53] sbordet commented on #820
Assuming you are using the `javax.websocket` (i.e. JSR 356) implementation of WebSocket, the messages first land here: https://github.com/cometd/cometd/blob/4.0.2/cometd-java/cometd-java-websocket/cometd-java-websocket-javax-server/src/main/java/org/cometd/websocket/server/WebSocketEndPoint.java#L53.
From there, there is parsing of messages, and processing of messages, which eventually end up here

[2019-01-18 15:08] boris-petrov commented on #820
OK, I added these loggings. I'm seeing:

[code]

As the first message, then the second one contains a bunch of subscriptions and messages which are application specific (they are batched), the third message resubscribes for the subscriptions (as now I see that the app logic does that) and then only:

[code]

In the frontend, the handshake happens successfully but then after a while I start receivi

[2019-01-18 15:23] sbordet commented on #820
@boris-petrov the `/meta/connect` message is expected, has `advice:{timeout=0}`, also expected, and the server must reply to this message immediately.
So: either the server does not reply to this message correctly, or the client receives the reply, but then has problems and cannot send the next `/meta/connect`.

Can you enable DEBUG logging on the client (https://docs.cometd.org/current/reference/

[2019-01-20 18:13] #818 closed, assigned to nobody

[2019-01-20 18:13] #821 closed, assigned to nobody

[2019-01-21 09:23] boris-petrov commented on #820
OK, debug logging shows something like:

[code]

[code]

This is for the 21st message, as you can see. The first 20 are sent and received fine. They also get responses from the server. The 21st, which is the `/meta/connect` call fails.

Using long polling seems to fix the problem, although it does work **very** slowly. Like, it takes 10 seconds for some responses to come through but I guess that's

[2019-01-21 10:03] sbordet commented on #820
I don't understand this sentence, what do you mean by "slowly"? Taking 10 seconds for some responses is normal if you have a `timeout=10000` configured on server (long poll).
The same goes for WebSocket.

Can you please try without minifying the JavaScript?

Do you see message 21 arriving on server?

As for Wireshark, you should capture traffic on port `8081` which is where you have configured Com

[2019-01-21 10:44] boris-petrov commented on #820
This is what I have as a server configuration:

[code]

`web.xml`:

[code]

On the frontend:

[code]

I understand the timeouts you mention on the longpolling but what do timeouts have to do with WebSockets?

What I showed was without minifying JS. All the tests I do with unminified JS.

I see message 21 on the server, yes:

[code]

The first line is from the `WebSocketEndPoint.java` file `onMessa

[2019-01-21 12:22] sbordet commented on #820
Whoa, this is big. AFAIR browsers will choke with messages larger than 8 KiB.

[code]

`logLevel` and `url` are wrong: they lack the value.

The server side `timeout` is a heartbeat, and it is run with any transport.

Seems like something is blocking the processing of the server-side `/meta/connect` messages.
Double check that you don't have a `/meta/connect` listener or extension sleeping or othe

[2019-01-21 12:56] boris-petrov commented on #820
OK, I'll leave the default value for `maxMessageSize`. Not sure where I read that it could be as big as I've put it. Maybe in Google Groups?

`logLevel` and `url` are not wrong - it's just ES6 syntax for defining a hash - they are defined as variables above this code. They're not relevant so I omitted them from the example, sorry.

As for the thread dump - you're suggesting to get a thread dump wh

[2019-01-21 13:08] boris-petrov commented on #820
In the thread dump I searched for `comet` and this is the only thread that had `cometd` inside it:

[code]

A few minutes later there are a few of those with the same stacktrace due to the frontend reconnecting a bunch of times.

Any ideas?

[2019-01-21 13:38] sbordet commented on #820
So you are using Tomcat, not Jetty.

I need all the stack traces, not just one.

Also, try Jetty instead of Tomcat. Do you have the same issue?

[2019-01-21 14:22] boris-petrov commented on #820
Using Jetty instead of Tomcat is going to be a bit tricky as we use a couple of Tomcat-specific things. Let's leave it as a last resort for now.

Please give me an email to send you the thread dump.

[2019-01-21 14:28] boris-petrov commented on #820
Sorry, I saw it in your profile. Sending now.

[2019-01-21 14:37] sbordet commented on #820
Zip and attach the thread dump here for reference, and remember to obfuscate things you don't want everybody to see (passwords, IP addresses, etc.)

[2019-01-21 14:46] boris-petrov commented on #820
Here is the dump. [threads.zip](https://github.com/cometd/cometd/files/2779329/threads.zip)

Ping me when you're done analyzing and/or need more information.

[2019-01-21 15:05] sbordet commented on #820
A WebSocket message is received, and passed along for processing. From the logging you've got, seems to be a `/meta/connect` message.
Then the thread is waiting on the `CompletableFuture` to be completed, but it's not.
This is only possible if the processing of the `/meta/connect` is asynchronous, because I don't see any other thread processing that message.

Seems to be a case of the application

[2019-01-22 07:09] boris-petrov commented on #820
I don't have any listeners on `/meta/connect`. I have one `SessionListenerImpl implements BayeuxServer.SessionListener` and one `SubscriptionListenerImpl implements BayeuxServer.SubscriptionListener` neither of which are called when the message timeouts.

I debugged a bit more and I'm seeing that this call:

[code]

Never executes the promise. This is inside the `flush` method in `AbstractWebSocke

[2019-01-22 13:04] sbordet commented on #820
@boris-petrov I tried the CometD demo with both Jetty and Tomcat 9.0.14 and they work fine for me.
I checked out your repo, and works fine for me in Jetty and Tomcat.

You need to detail **exactly** what you are doing, what is the problem, what do you expect instead, what is your client and server configuration.
I need to understand what you are doing and how I can reproduce it _exactly_.
So far t

[2019-01-22 13:52] boris-petrov commented on #820
In [this previous message of mine](https://github.com/cometd/cometd/issues/820#issuecomment-455510398) I mentioned the Chromium version that I use (71.0.3578.98) and the OpenJDK version (I've since updated to 11.0.2). Tomcat is the latest 9.0.14.

I never said that the repo that I gave doesn't work in some way. It is the original CometD 4.0.2 code plus some `println` statements. Nothing more. What

[2019-01-22 14:52] sbordet commented on #820
Is the CometD demo working for you in Tomcat?

[2019-01-22 14:56] sbordet commented on #820
Can you attach a network trace with Wireshark?

[2019-01-22 15:14] sbordet commented on #820
@boris-petrov can you please put another log line in `WebSocketEndPoint.Delegate.send(...)`, inside the `SendHandler` lambda?

From your `output.txt` you seem to send 23 messages, and you have configured 5 messages per frame, so these should be sent as 5-5-5-5-3.
However, it appears that the first write never returns.

Can you please check what is the default max message size for Tomcat?

It could

[2019-01-22 18:36] InGenius-Nick opened #822 "No "connect" requests after "handshake" in IE and Edge unless "useWorkerScheduler" disabled"
CometD (4.0.2) is not making a request to "connect" after successful handshake in IE (11.785.16299.0) and Edge (41.16299.785.0). Code works in Firefox and Chrome.

If I disable a configuration option "useWorkerScheduler" it works. However, I cannot find any documentation on this option, it was found by reading the code. It seems that CometD will normally use a window.Worker to schedule requests to

[2019-01-23 07:03] boris-petrov commented on #820
Thank you for the support.

The CometD demo works fine as well as our application - we have hundreds of tests that run many times a day and all works fine. It's just this corner case that is a problem.

I'll send a Wireshark trace later if needed as it does contain app-specific data which I'm not sure I can mangle.

I put a log line as you requested. [Here is the output](https://github.com/cometd/

[2019-01-23 09:12] sbordet commented on #820
This is the Tomcat implementation of the `javax.websocket` classes.

My theory was that Tomcat was choking and forgetting to notify the callback because the message was too large.
However, this problem happens with both `messagesPerFrame=1` and your initial setting of `maxMessageSize=655200`, so it probably is something else.

A number of things have changed between CometD 4.0.0 and 4.0.1, but I d

[2019-01-23 09:16] sbordet commented on #822
I will document `useWorkerScheduler`.

The workaround you found, to set `useWorkerScheduler=false` for Windows browsers is fine, although CometD is using standard browser APIs that must work in any browser :sob:
I'll try to figure out why they don't work and see if this can be fixed.

[2019-01-23 10:16] sbordet commented on #822
Found the cause of this issue.

The call to `window.URL.revokeObjectURL(blobURL);` revokes just the URL in Chrome and Firefox, but apparently revokes also the Worker in Edge.
Removing the call makes the Worker work fine in Edge.

@InGenius-Nick can you just remove that call from `cometd.js` and try it out in your application to confirm that the solution fixes the issue for you?

[2019-01-24 08:27] sbordet opened #823 "Full JPMS support"
While CometD modules have an `Automatic-Module-Name` they still suffer of split packages, so a fully compliant JPMS restructure of Maven modules and JPMS modules is required.

[2019-01-24 09:32] sbordet opened #824 "Implement OkHttp-based HTTP client transport"
It would be great to have a OkHttp-based HTTP transport.

[2019-01-24 09:35] sbordet commented on #824
Allowing pluggable HTTP client transport requires a restructuring of the Maven coordinates, Maven modules and JPMS modules, since now it's all hardcoded to be a single artifact depending on `jetty-client`.
We would need a common module, a jetty-specific module, a okhttp-specific module, a test module that tests both implementations, etc.
Likely client applications will break because they will have

[2019-01-24 10:55] wubin19881121 opened #825 "to use Cometd in Springboot"
I want to use cometd in the springboot framework .webcontainer is tomcat. Do you have demo.

[2019-01-24 12:23] sbordet commented on #825
Yes there is a demo at https://github.com/cometd/cometd/blob/4.0.2/cometd-java/cometd-java-examples/cometd-java-examples-springboot/src/main/java/org/cometd/examples/spring/boot/CometDApplication.java.

The documentation is not online yet, but it's written, see https://github.com/cometd/cometd/blob/4.0.x/cometd-documentation/src/main/asciidoc/java_server_services_integration_spring.adoc#_java_serv

[2019-01-24 12:23] #825 closed, assigned to nobody

[2019-01-24 13:55] sbordet commented on #820
@boris-petrov news on this issue?

[2019-01-24 14:02] boris-petrov commented on #820
Yes, sorry, I had other things to do today. I'll look at this again either tomorrow, or first thing next week. I'm also trying to figure out how to setup the embedded Tomcat's logging preferences - if you have any ideas, you might save me some time. :)

Another thing I noticed yesterday - the same issue happened in production. I was getting message timeouts, I refreshed the page 3 times, the fourt

[2019-01-24 14:16] sbordet commented on #820
@boris-petrov for Tomcat Logging you want to read this: https://tomcat.apache.org/tomcat-9.0-doc/logging.html.

[2019-01-24 15:10] InGenius-Nick commented on #822
That worked. I commented out the revokeObjectURL and set useWorkerScheduler back to false.

[2019-01-24 17:02] sbordet commented on #822
Thanks for confirming!

[2019-01-24 17:02] #822 closed, assigned to nobody

[2019-01-25 12:06] boris-petrov commented on #820
OK, so I managed to enable logging in Tomcat and enabled it for the `org.apache.tomcat.websocket` package but it logs only when receiving data, not when sending. Going [through the code](https://github.com/apache/tomcat/blob/trunk/java/org/apache/tomcat/websocket/WsRemoteEndpointAsync.java#L47) shows that there is actually [no logging in it](https://github.com/apache/tomcat/blob/trunk/java/org/apa

[2019-01-25 12:27] sbordet commented on #820
@boris-petrov if I have a way to reproduce, I would do the debug.

Otherwise you need to follow the Tomcat calls in the debugger and see why it does not complete the callback, or perhaps do what you have done with CometD, add your own logging to Tomcat code.

What I see from the Tomcat implementation is that in many, many places it throws exceptions _without_ completing the `SendHandler`.
For exam

[2019-01-25 13:24] boris-petrov commented on #820
I [opened a bug](https://bz.apache.org/bugzilla/show_bug.cgi?id=63114) in Tomcat about that. Let's see what happens there. So yes, it might be the case that an error happens and the handler is not called. I'm accessing the website that I'm testing with via VPN access from the other side of the world with generally not very good internet so it is possible that a timeout happens or something and tha

[2019-01-26 00:58] boris-petrov commented on #820
@sbordet - actually I put a `try ... catch (Throwable t) { println ... }` around the `_wsSession.getAsyncRemote().sendText` call but it doesn't get there... so the theory that an exception happens is not what happens. I'm not sure how `javax.websocket.SendHandler` works - who is supposed to call [TextMessageSendHandler's onResult method](https://github.com/apache/tomcat/blob/TOMCAT_9_0_14/java/org

[2019-01-26 15:30] pdavidson opened #826 "Spring Boot 2.1.2.RELEASE Breaks CometD 4.0.2"
I had CometD 4.0.x working with Spring Boot 2.1.1.RELEASE, when I upgraded to 2.1.2.RELEASE, I get the Missing WebSocket ServerContainer when trying to initialize the WebSocketTransport.  I know there's a jetty version upgrade in 2.1.2.RELEASE, not sure if that's the issue.

I'll provide more documentation later, but was hoping someone had already ran into this issue and had a solution.

[2019-01-26 17:42] pdavidson commented on #826
It's not the jetty upgrade.  I just confirmed jetty version jetty-9.4.12.v20180830 fails with spring 2.1.2.RELEASE

[2019-01-28 14:33] sbordet commented on #820
The Tomcat WebSocket implementation is supposed to call the `SendHandler`.

While exceptions do not happen in your case, if they happen, the `SendHandler` won't be notified and it should not be the burden of the application to `try/catch` `IllegalStateException` from the implementation because moving to another implementation may not throw the same exceptions (or at all).

Something else is going

[2019-01-28 14:56] sbordet commented on #826
I just updated CometD 4.0.x with Spring Boot 2.1.2.RELEASE and the tests we have pass cleanly.

Can you please detail your setup, stack trace, etc.?

[2019-01-28 15:08] pdavidson commented on #826
@sbordet thanks for looking into this -

Here's the relevant stuff from my config:
[code]

Here's my stacktrace
[code]

[2019-01-28 15:09] pdavidson commented on #826
I can confirm that the `JettyWebSocketServletWebServerCustomizer` is not being run prior to the WebSocketTransport being initialized in the bayeuxServer method.

[2019-01-28 15:38] sbordet commented on #826
I'm not that familiar with Spring Boot to know what's the difference between annotating a class with `@SpringBootApplication` and doing what you're doing.
Either there is some step that you are not doing that `@SpringBootApplication` does under the covers, or there is a problem in Spring Boot.
Does not seem to be a CometD problem.

In the past I was starting from what it was working (e.g. the Come

[2019-01-28 19:53] pdavidson commented on #826
I started a from scratch app and it's working fine with 2.1.2.  I think we're just going to pull out WS support and fallback to long polling.

[2019-01-28 19:53] #826 closed, assigned to nobody

[2019-01-28 21:11] sbordet commented on #826
@pdavidson sorry, not sure I understand.
Why would you pull out WS if it's working?

[2019-01-28 21:14] pdavidson commented on #826
@sbordet - Since this was working in a demo app from scratch, it appears I was hitting a non deterministic issue on the spring side.  I've pulled the WSTransport out of our production app and just use long polling instead.

[2019-01-29 05:12] boris-petrov commented on #820
@sbordet - they [answered on the Tomcat bug](https://bz.apache.org/bugzilla/show_bug.cgi?id=63114#c1). They're saying that throwing an exception (at least in some cases) is actually according to the specs. I'm no expert on this but probably you can take a look - and in that case I guess CometD has to handle it.

Thanks for the support. I'll continue playing with this. I'll try different Tomcat ver

[2019-01-29 22:19] nathklei opened #827 "Docs - Oort section of manual references non-existent class"
I'm looking into setting up clustering for my system, and in the docs a class named `org.cometd.oort.OortServlet` is referenced. I assume it's supposed to be `org.cometd.oort.OortConfigServlet`?

There might be other things that are out of date for Oort that would be helpful to have updated.

[2019-01-30 09:23] sbordet commented on #794
Lack of activity, closing.

[2019-01-30 09:23] #794 closed, assigned to nobody

[2019-01-30 09:27] #810 closed, assigned to nobody

[2019-01-30 10:28] sbordet commented on #795
This issue has been tested and confirmed to be fixed.

[2019-01-30 10:28] #795 closed, assigned to nobody

[2019-01-30 10:42] sbordet opened #828 "Deprecate usage of "master""
"Master" should be replaced by "Primary"

[2019-01-30 10:52] #827 closed, assigned to nobody

[2019-01-30 11:17] #828 closed, assigned to nobody

[2019-01-30 12:04] boris-petrov commented on #820
Also, could you please try the CometD demo and any other app that you may have (running it on Tomcat 9.0.14) and throttling the network speed of the browser (Chrome can do it in the Network tab in the dev tools)? I think this helps triggering the issue. Maybe this way you will be able to reproduce it.

[2019-01-30 18:09] #819 closed, assigned to nobody

[2019-01-30 18:48] nathklei opened #829 "OkHttp WebsocketTransport - Handle ConnectException properly"
The original code doesn't properly handle ConnectException (e.g. remote server not available, etc) and never retries.

Do not mark websockets as unavailable for connect exceptions

[2019-01-30 22:49] nathklei commented on #827
Thanks for the quick turnaround

[2019-01-31 07:31] #829 closed, assigned to nobody

[2019-01-31 07:31] #807 closed, assigned to nobody

[2019-01-31 07:50] sbordet commented on #801
PR #815 merged.

[2019-01-31 07:50] #801 closed, assigned to nobody

[2019-02-01 16:59] w0jcik opened #831 "workerScheduler fails to instantiate in IE11/Edge"
CometD 4.0.2 ->
Line 1475             window.URL.revokeObjectURL(blobURL);
It's causing worker to never instantiate in IE/Edge.
Blob URL is not supported by IE due to security restrictions.
IE has its own API for creating and downloading files, which is called msSaveOrOpenBlob.

Furthermore i managed to get cometD to work in IE11 by setting useWorkerScheduler=false in config. This flag isn't docum

[2019-02-01 17:04] w0jcik commented on #831
This seems to be a fix:
[code]

[2019-02-01 17:04] #831 closed, assigned to nobody

[2019-02-01 18:09] sbordet commented on #831
@w0jcik this issue is a duplicate of #822. It's already fixed in the 3.1.8 and merged to the 4.0.x branch, so will be in 4.0.3, probably released next week.

[2019-02-04 08:53] sbordet commented on #798
In the CometD JavaScript library, `cometd.subscribe(...)` returns an opaque data structure that must be passed to `cometd.unsubscribe(...)`.
In the CometD Java library, `ClientSessionChannel.subscribe(...)` takes a `MessageListener` and returns a `boolean`, so there is no opaque data structure to be passed to unsubscribe - in fact the correspondent data structure is the `MessageListener` instance.

[2019-02-04 08:53] #798 closed, assigned to nobody

[2019-02-04 10:15] sbordet commented on #534
Staying with a single page for simplicity.

[2019-02-04 10:15] #534 closed

[2019-02-14 11:22] aminejamoussi commented on #775
Hi kyleabcha,
I have the same problem, could you share the solution in your case ?

[2019-02-15 08:41] w0jcik commented on #831
@sbordet - any update on planned 4.0.3 release?

[2019-02-15 08:42] sbordet commented on #831
@w0jcik I am waiting for the Jetty 9.4.15 release, hopefully early next week. CometD 4.0.3 will follow that.

[2019-02-15 08:46] w0jcik commented on #657
We use it with Angular7.
If you use typescript you will want to also install @types/cometd (but it is currently missing some transport types).
Since cometd is commonJS module, you will need to set this in tsconfig.json:
    "esModuleInterop": true,

[2019-02-15 09:06] sbordet commented on #657
@w0jcik thanks for reporting this.
Closing as apparently CometD is working with Angular > 1 without any further need.

[2019-02-15 09:06] #657 closed

[2019-02-20 09:51] sbordet opened #832 "Introduce a listener for JSON events"
The first use case is when a client sends a message and may want to limit the size of the message being sent.
This listener would need to be called after all transformations that extensions may do to the message.
Furthermore, the JSON generation must be done once, so that applications can interact with the JSON without the need to generate the JSON a second time which would waste resources.

[2019-02-20 10:06] sbordet commented on #832
It may be interesting to emit an event for the incoming JSON (on both client and server) before it is converted to a message object.
However, this would require to accumulate the JSON into a String, while currently we can parse the JSON using a `Reader` with much less impact on memory.

On server side another event may be emitted when the message is frozen, so that applications will be able to e.g

[2019-02-20 13:02] boris-petrov commented on #820
@sbordet - I wanted to open an issue in Tomcat about this and I noticed [this thread there](https://bz.apache.org/bugzilla/show_bug.cgi?id=56026) - it says that `RemoteEndpoint.Async#sendText(String, SendHandler)` is not thread-safe. And they've closed it saying that the spec says nothing about thread-safety. Is it possible that CometD calls it concurrently and that's why it fails? I want to know

[2019-02-20 15:07] sbordet commented on #820
@boris-petrov after that issue we have modified CometD to _not_ call `sendText()` concurrently, so yes we are using the WebSocket APIs properly.

[2019-02-26 10:28] boris-petrov commented on #820
@sbordet - I downgraded to CometD 3.1.8 and the problem goes away. CometD 4 introduced async methods for authorization and some other things which I guess use the async IO implementation of Tomcat. What I think happens is that Tomcat 9 (all versions) have a deadlock in their code. CometD 3 uses synchronous IO which works correctly in Tomcat and that's why it works fine. Does that make sense?

I've

[2019-03-01 08:51] twiechert opened #833 "Unhide secure cookies when behind TLS-originating HTTP-Proxy"
We use the Java cometd client behind a TLS-orginating http proxy. Thus, the communication between cometd client and proxy is unencrypted through plain http.

This will cause the Java cookie store used in `LongPollingTransport` to not expose cookies flagged by the server as `secure`

This is very likely to be the actual cause for https://github.com/cometd/cometd/issues/644.
Since we observed exactl

[2019-03-01 10:30] sbordet commented on #833
I'm not sure I understand.
Are you saying that `BayeuxClient.getCookie(String)` returns `null` for a non-CometD cookie sent by the CometD server?

[2019-03-01 10:38] twiechert commented on #833
`for (HttpCookie cookie : getCookieStore().get(uri))`in LongPollingTransport returns only cookies that have not been flagged as secure in case you pass an URL that does not start with `https`. This is a secuity feature but very annoying if the application sits behind a TLS originating http proxy:

Cometd App --> HTTP --> Envoy --> HTTPS -> Salesforce
(Salesforce returns secure cookies such as BAYE

[2019-03-01 10:47] sbordet commented on #833
Why is not "Envoy" stripping the `secure` flag?

[2019-03-01 11:14] twiechert commented on #833
Yes, it can be built like this, modifying the response headers received by salesforce.

However, this seemed to have caused trouble for other people as well:
https://github.com/cometd/cometd/issues/644
(you find other references to this 403 error on google as well without clearly identified root cause)

So basically I wanted to create awareness for this "problem" and potentially help others who fa

[2019-03-01 16:02] sbordet commented on #833
@twiechert what about this: the retrieval of the cookies can be factored out to a method that you would be able to override and implement your logic.

Would that solve this issue?

[2019-03-01 16:54] twiechert commented on #833
Sounds amazing :)

[2019-03-01 17:08] sbordet commented on #833
@twiechert wanna give it a try and issue a PR? :)

[2019-03-05 03:24] nathklei opened #835 "Unable to fully disconnect remote sessions when broadcastToPublisher is false"
In testing I've found that when I disable broadcastToPublisher - which I'd like to do for my application - I'm no longer able to disconnect remote sessions from the BayeuxServer.

I've traced the reason to ServerSessionImpl#disconnect, which removes the session from the server, then attempts to send the disconnect message to the client. However, it uses the same session to do the delivery, which e

[2019-03-05 03:25] nathklei commented on #835
demonstrates test failing when flag is false, but succeeds when true: https://github.com/cometd/cometd/pull/836/files

[2019-03-05 06:45] jaypatel512 opened #837 "CometD Long Polling takes longer than timeout value"
Hey all,

I have a timeout set for cometD long polling as 60000ms (60 seconds). And client is configured to have a socketTimeout as 62000ms (62 seconds). We are seeing socketTimeout in some cases, where our long polling client goes above 60000ms. Am I missing something here ? How can the socketTimeout be calculated to ensure we do not get a timeout via socket in normal cases.

[2019-03-05 16:44] sbordet commented on #837
The server should always timeout at 60 seconds. The client may see more than that because of network roundtrips, so perhaps you have a really bad network?
Also, if the connection is dropped for any reason, the client may timeout because the server cannot write back to the client.

Do you have DEBUG logs that show this behavior?

[2019-03-05 17:12] sbordet commented on #835
Looking at this, thanks for reporting.

[2019-03-05 17:58] sbordet commented on #835
@nathklei so the issue is more complicated than I expected.

The problem is that a server-side disconnect needs to send an unsolicited message to the client.
If the `/meta/connect` is outstanding, that is simple: queue the disconnect message, wake up the `/meta/connect`, deliver both, done.

However, if the `/meta/connect` is not outstanding, we don't have (in general) a mean to deliver the messag

[2019-03-05 18:13] sbordet opened #838 "Use System.nanoTime() instead of System.currentTimeMillis()"

[2019-03-05 18:25] nathklei commented on #835
@sbordet thanks for looking into this. I actually think a best effort attempt is OK in my case. I can look into an application event rather than using the built-in disconnect - though doing this server-side is nice because I have both java and javascript clients and I'd rather not write that logic twice.

I should mention I ended up using a really basic "solution" to the problem in my own code, li

[2019-03-05 18:31] #838 closed, assigned to nobody

[2019-03-05 18:40] sbordet opened #839 "Use java.time where possible"
Replace usage of `System.currentTimeMillis()`, `SimpleDateFormat`, `Date`, etc. with the new facilities in the `java.time` package.

[2019-03-06 10:23] #839 closed, assigned to nobody

[2019-03-06 10:51] sbordet opened #840 "Support HTTP/2 in CometD benchmark"

[2019-03-06 11:00] sbordet opened #841 "Investigate simplification of Promises using a BiConsumer"
Class `Promise` can currently be built out of 2 `Consumer`, but that makes the code difficult to read.
Investigate if it is possible to make a promise out of a single `BiConsumer<T, Throwable>` which would make possible to use method references, simplifying readability and reducing the depth of stack frames.

[2019-03-06 13:46] boris-petrov commented on #820
@sbordet - there is a discussion [in the Tomcat issue](https://bz.apache.org/bugzilla/show_bug.cgi?id=63191). They need more information about the execution path of CometD that leads to the call to `sendText` that never calls the callback. Could you please step in there to help a bit? Perhaps the two of you (or the three of us including me) working together will have a better chance of finding the

[2019-03-06 14:29] #840 closed, assigned to nobody

[2019-03-06 16:54] sbordet commented on #841
It's already possible, but not particularly simplifying the code.

The reason is that to create a `Promise` I would still need a lambda to capture other variables in the lexical context, so most of the times cannot use a method reference.

[2019-03-06 16:54] #841 closed, assigned to nobody

[2019-03-06 17:10] sbordet opened #842 "Normalize error descriptions"
In CometD 4, error descriptions have been somehow normalized using lowercase words with underscore separators.
For some reason only 2 exceptions were left out, "402::Unknown client" and "403::publish denied".
Clients should not parse or otherwise use these descriptions - they are opaque strings used just for debugging purposes.

[2019-03-06 17:12] #842 closed, assigned to nobody

[2019-03-08 18:37] princejt opened #843 "java.util.concurrent.TimeoutException for meta connect"
We are facing an issue where occassionally for meta-connect calls from client,
cometdserver is sending  a 500 error.We enabled debug logging and on server logs we could see a concurrent timeout exception.

Logs are attached.

1)What is causing this exception? Is there a way to resolve this ?

2)From stack trace the exception thrown is TimeoutException which should have resulted in error code 408.

[2019-03-08 19:03] sbordet commented on #843
Calling `asyncContext.setTimeout(0)` is explicitly supported by the Servlet specification, so it's a Tomcat bug if it leads to a memory leak.

Seems to me that you are hitting one or more Tomcat bugs.
Have you tried Jetty instead?

The logs are too short to be useful. If you attach the full logs, I may be able to interpret better what's going on.

[2019-03-08 20:11] princejt commented on #843
Unfortunately we cant change tomcat,

I have added more logs. Thanks for looking into this
[AdditionalLogs.txt](https://github.com/cometd/cometd/files/2947283/AdditionalLogs.txt)

[2019-03-09 11:59] sbordet commented on #843
This is what I found from your logs.

Session `1s1dcv5j9q7x31s2563mtd13612` starts at `16:39:03,218`. The server receives the `/meta/handshake` message, a `/meta/subscribe` message, a `/meta/connect` message with `id=4`, and normal message.

Since the `/meta/connect` message with `id=4` has been written successfully, the client sends another `/meta/connect` message with `id=5` and it is held by th

[2019-03-09 12:07] princejt commented on #843
Client is javascript . Cometd version is "3.1.4"

[2019-03-09 14:18] sbordet commented on #843
CometD is definitely 4.0.x from your logs, not 3.1.4.

"Client is javascript" means you are using the official CometD JavaScript client, or some other JavaScript client?

What exact version is your JavaScript client (the version is written at the beginning of the `cometd.js` file itself, so please make sure you report the version that is written in the file)?

Do you have the client-side DEBUG log

[2019-03-09 14:34] princejt commented on #843
Sorry for the confusion caused by the earlier commet.

The client for our service is using javascript. They are using cometd library version 3.1.4
https://www.npmjs.com/package/cometd/v/3.1.4

The server(which is java)  cometd version is 4.0.0.

[2019-03-09 15:14] sbordet commented on #843
@princejt can you please detail _exactly_ how is your system architected?

I find strange that you have a server 4.0.x, but you serve to the client an old version of the CometD JavaScript library.
Can the client be upgraded to 4.0.x?

Is there any network element (reverse proxies, firewalls, load balancers, etc.) in between the client and the server that may cache or otherwise alter the request bo

[2019-03-09 15:34] princejt commented on #843
The client version/upgrade isn't something driven by us. But will check if that can happen and see if that resolves the issue.

I dont have the client side debug logs right now. Will share as soon as I have it.

Architecture:

The request from the browser goes to a node.js server which act as a proxy and forwards the request to the cometd java server. There is a loadbalancer between the node.js se

[2019-03-09 17:43] sbordet commented on #843
Then the true client for the CometD server is a NodeJS application, not the browser.

Which one is it? Who wrote it?

Has it been written using the CometD NodeJS support?

[2019-03-11 16:31] sbordet opened #844 "Allow to set maxInterval on ServerSession"
`ServerSession` allows to programmatically change the `interval` and the `timeout`, but not `maxInterval`.
This is useful if the session is recognized to have a bad network (e.g. a mobile device): the `maxInterval` could be enlarged for such sessions.

[2019-03-11 17:13] princejt commented on #843
We are working with client team to get the additional information.

Meanwhile trying to figure out why client is recieving 500 error.

From stack trace the exception thrown is TimeoutException which should have resulted in error code 408. But client is recieving a 500 internal server error

https://github.com/cometd/cometd/blob/4.0.x/cometd-java/cometd-java-server/src/main/java/org/cometd/server/t

[2019-03-11 17:51] sbordet commented on #843
What "client" do you refer to? The NodeJS client, or the browser client?

[2019-03-11 17:52] princejt commented on #843
Nodejs client

[2019-03-11 18:08] sbordet commented on #843
Well, we know nothing about your NodeJS client. Perhaps you have a bug there.

[2019-03-11 18:23] jaypatel512 commented on #837
Unfortunately not, as this is seen in production only.

[2019-03-11 18:24] sbordet commented on #837
Could be Full GC taking many seconds?

[2019-03-12 17:07] #844 closed, assigned to nobody

[2019-03-13 02:57] qq61966100 opened #845 "Support WebSocket in Spring Boot example"
Hi, I`m new to spring boot and cometd, some issue after I download the spring boot example
after I run the application,  console showed below message
'o.c.server.BayeuxServerImpl.1d035be3     : JSR 356 WebSocket classes available, but org.cometd.websocket.server.WebSocketTransport unavailable: JSR 356 WebSocket transport disabled'
and when I go to the url 'localhost:8080/cometd', response was 400,

[2019-03-13 03:36] qq61966100 commented on #845
![Image 12](https://user-images.githubusercontent.com/15924518/54251989-25948200-4584-11e9-903e-9d688b6e6fb8.png)

[2019-03-13 03:37] qq61966100 commented on #845
by the way, I changed the pom.xml, because 'cometd-java-examples-embedded' used project version, but can not found, so I changed it to version 4.0.3

[2019-03-13 15:00] sbordet commented on #845
Thanks for reporting this, I will make sure that the Spring Boot example will work with WebSocket too.
The change requires a new dependency in the POM and a little bit of new code in the application class.

[2019-03-13 16:40] sbordet opened #846 "BayeuxClient.remoteCall() does not work for async results"
When the server implements the remote call synchronously, it is always the case that the result message arrives to the client before the _publish reply_ message.

However, when the server implements the remote call asynchronously, the client will first receive the publish reply of the remote call message, and later the result message of the remote call.

In the latter case, the client interprets t

[2019-03-13 18:02] #846 closed, assigned to nobody

[2019-03-14 01:22] qq61966100 commented on #845
Got it,  many thanks, and waiting for the new version.

[2019-03-14 01:28] qq61966100 commented on #845
And any existing solution for the cometd if I want to change my project from spring to springboot ?
Can I keep the old way  in spring ? But I tried it, the error message is can not found servletcontext

[2019-03-14 06:05] princejt commented on #843
Figured out the reason for change in response code.

https://github.com/cometd/cometd/blob/4.0.x/cometd-java/cometd-java-server/src/main/java/org/cometd/server/transport/AsyncJSONTransport.java#L82

sendError we set

request.setAttribute(RequestDispatcher.ERROR_EXCEPTION, failure);
response.sendError(code);

Tomcat is searching for corresponding error page of the exception. Since no page is mapped

[2019-03-14 08:27] Lisa09Liu opened #847 "Spring boot 1.5.13 with cometd 3.0.9 throws can't find servletContext exception"
s.c.a.AnnotationConfigApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'primeLocateCometDService' defined in file [XXX\PrimeLocateCometDService.class]: Unsatisfied dependency expressed through constructor parameter 0; nested exception is org.springfr

[2019-03-14 09:23] sbordet commented on #847
The reason of this problem is very likely how you have written your code.

Please attach to this issue a reproducible project that shows the problem.

[2019-03-14 09:38] sbordet commented on #843
Uhm. I think I should skip `sendError()` and just call `setStatus()` then, as I don't want the error page mechanism to kick in for CometD.
Filed #848.

[2019-03-14 09:46] sbordet opened #848 "Don't use HttpServletResponse.sendError()"
`HttpServletResponse.sendError()` goes through the error page mechanism and we don't want to trigger that in case of CometD messages.

[2019-03-14 09:51] #848 closed, assigned to nobody

[2019-03-14 10:19] Lisa09Liu commented on #847
Follows are the xml file :

    <bean id="bayeux" class="XX.InitBayeuxServerImpl" init-method="start" destroy-method="stop">
    	<property name="cacheMongo" ref="mongoCacheForCometD" />
    	<property name="securityPolicy" ref="securityPolicyCometD" />
    	<property name="options">
            <map>
                <entry key="javax.servlet.ServletContext" value-ref="**servletContext**" />

[2019-03-14 11:33] sbordet commented on #847
I'm really confused now.

Aren't you using Spring Boot, which does everything via annotations?

What's the XML for?

[2019-03-14 11:43] Lisa09Liu commented on #847
Follows is application class , because I'm working on a more complex project, which used to be a CometD integrated spring with beans configured in xml files, now I want to switch to spring boot to use cometd.

[code]

[2019-03-14 11:46] sbordet opened #849 "WebSocket server transports cannot send messages before the first /meta/connect"
A client may send a normal message before the first `/meta/connect`, from a handshake listener.

The server should be able to send messages back even if the first `/meta/connect` has not arrived yet, but this does not happen in WebSocket transports in 4.0.x.

[2019-03-14 12:59] sbordet commented on #847
I don't know Spring Boot well enough to help you here; there are a lot of things you are doing in the snippets above that it's difficult to say what is it that breaks things.

I recommend that you start from the super-simple working example that you find in CometD.
Once you have that running, add one at a time of your additional configuration/annotation/xml files/etc. until it breaks.

The problem

[2019-03-14 13:20] #849 closed, assigned to nobody

[2019-03-14 17:36] sbordet commented on #845
@qq61966100 with commit 6a63498 I have updated the Spring Boot example to use WebSocket, thus getting rid of the warning you were seeing.
The changes interesting for you are the changed in `CometDApplication` and in the POM.

Let me know if those changes work for you too.

[2019-03-14 20:35] sbordet commented on #843
@princejt this should be fixed now. Are you able to test the latest CometD 4.0.x code?

[2019-03-15 01:54] qq61966100 commented on #845
![image](https://user-images.githubusercontent.com/15924518/54402660-bf386c80-4707-11e9-81f2-e0ce44b62de7.png)
@sbordet Thanks for your support, And why the project version is 4.0.4, but plugin latest version is 4.0.3 in maven ?  And If I changed version manually the pom.xml occurred another error

[2019-03-15 02:09] qq61966100 commented on #845
sorry, I changed version to 4.0.3 , then clean the cache, The build error disappeared , and may I know how to test ? I tried to use the url 'localhost:8080/cometd' , is it correct? but I got 400
![image](https://user-images.githubusercontent.com/15924518/54403299-6f0ed980-470a-11e9-8bc2-a0148566e581.png)

[2019-03-15 03:02] qq61966100 commented on #845
And I tried to use junit, It looks fine

[2019-03-15 03:12] qq61966100 commented on #845
![image](https://user-images.githubusercontent.com/15924518/54405917-0e37cf00-4713-11e9-91a5-3aedccfa0d58.png)
Although I got the 'yahoo', but junit test failed

[2019-03-15 08:00] sbordet commented on #845
@qq61966100 you have to build the latest CometD code, see https://docs.cometd.org/current/reference/#_build.

Once you have done that, you can reference CometD `4.0.4-SNAPSHOT` in your project, or run the tests that should pass cleanly.

Mixing 4.0.4-SNAPSHOT with CometD 4.0.3 won't work because while I was working on this issue I discovered #849, so you really need the latest CometD code.

[2019-03-15 09:29] Lisa09Liu commented on #847
@sbordet
Sorry to trouble you so many times , today I found the servletContext is need by Bayeux , however , Spring boot always init the Bayeux before servletcontext , do you have any good idea ?

Thanks,
Lisa.

[2019-03-15 09:49] sbordet commented on #847
@Lisa09Liu it is not always the case that the `ServletContext` is initialized before the `BayeuxServer` bean.
The current example in the CometD source code works just fine.

What I recommend is that you strip down your code to the bare minimum, and use _exactly_ the classes and annotations used in the CometD example.

For example, the CometD code uses `class CometDApplication implements ServletCon

[2019-03-15 10:00] Lisa09Liu commented on #847
@sbordet OK I will try it , thank you very much !

[2019-03-15 10:41] qq61966100 commented on #845
@sbordet Got it, Let me try it follow the guide, so let`s close this issue, and any further question I`ll open new issue then, many thanks for your patient and support

[2019-03-15 10:41] #845 closed, assigned to nobody

[2019-03-15 17:06] sbordet commented on #820
@boris-petrov I read the Tomcat issue and we are not moving forward. Both here and there we need a reproducer. It's obvious you have one, can you strip it down of sensitive information so that we can run it ourselves?

[2019-03-18 11:22] boris-petrov commented on #820
Well, that's going to take some effort, but OK, I will try to do it in the next days/weeks. I'll let you know when I have some reproduction.

[2019-03-18 19:38] jaypatel512 opened #850 "Switch with possible null String object"
We are receiving null pointer exception in some very corner cases in production. Looking further, we noticed that we have a switch statement for `message.getChannel()`. We were wondering if the value of `getChannel()` could ever be null ? And if so, switch statement [won't be able to automatically run `default` codeblock](https://stackoverflow.com/questions/18263489/why-doesnt-string-switch-statem

[2019-03-18 20:44] sbordet commented on #850
A message without a channel is an invalid Bayeux message.

What client are you using?

[2019-03-19 02:44] nathklei opened #851 "OkHttpWebsocketTransport also handles ProtocolException"
OkHttp [propagates java.net.ProtocolException ](https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/internal/ws/RealWebSocket.java#L222-L225) for adverse HTTP results on websocket open.

Proposing a change to handle this in the OkHttpWebsocketTransport to allow retries.

[2019-03-20 07:32] sbordet commented on #851
Fixed by #852. Thanks!

[2019-03-20 07:32] #851 closed, assigned to nobody

[2019-03-20 11:15] Lisa09Liu commented on #847
Hi @sbordet
In my project spring boot with cometd , I have some js files like : cometd-adapter.js .
Do you know I have to make it to war ? May I use it to jar ?

[2019-03-20 14:35] sbordet commented on #847
@Lisa09Liu if you want to add static resources to your Spring Boot application, you should follow the Spring Boot tutorials, for example:
http://www.springboottutorial.com/spring-boot-with-static-content-css-and-javascript-js
https://stackoverflow.com/questions/37581710/spring-boot-static-resources

[2019-03-21 01:00] Lisa09Liu commented on #847
@sbordet  OK , thank you very much for your suggestion !

[2019-03-21 12:52] sbordet commented on #847
Let us know if you made it work, it will useful for others reading this issue.

[2019-03-28 03:19] Lisa09Liu commented on #847
@sbordet  Use your demo about spring boot with cometd , it can run well , in my project , it's a little complex, it includes 11 modules project , there are some another problems , so I must fix them first , once I completed this project , I will updated this issues . Thanks !

[2019-04-01 08:25] Lisa09Liu commented on #847
Everything works well when I add module one by one , For Application.java ,just import all xml files use @ImportResource ,here I solved some problems :
1.No X509TrustManager implementation available
Fix this problem with adding
<dependency>
			<groupId>com.github.ulisesbocchio</groupId>
			<artifactId>jasypt-spring-boot-starter</artifactId>
			<version>1.18</version>
		</dependency>
2.CometDAuthen

[2019-04-01 08:25] #847 closed, assigned to nobody

[2019-04-01 08:40] sbordet commented on #847
@Lisa09Liu thanks for the feedback!

[2019-04-10 11:12] PSHREYASHOLLA opened #853 "Cometd Listener going into pending state and taking time to connect with cometD 4.0.2 and apache tomcat 8.5.6"
Hi,

We were using comet-java-*-2.3.1 jars with jetty-*-7.4 and bayeux-api-2.3.1.jar.

Now we have upgraded to comet-java-*-4.0.2 with jetty-*-9.4.1 and bayeux-api-4.0.2.jar.

After upgrade, the long polling connectivity is happening in case of Wildfly 10.0 server,
But in case of Apache tomcat 856 server, after handshake below is the network on inspecting in chrome browser,
![image](https://user-i

[2019-04-10 11:41] sbordet commented on #853
Replied to the mailing list. This is normal and expected behavior.

[2019-04-10 11:41] #853 closed, assigned to nobody

[2019-04-10 21:10] nathklei opened #854 "ER: Provide the ability to customize reply error values"
It would be nice if I had the ability to set my own error codes that are specific to my organization.  Right now it seems that anything I would set in e.g. my security policy would get overridden with the default in:
https://github.com/cometd/cometd/blob/4.0.x/cometd-java/cometd-java-server/src/main/java/org/cometd/server/BayeuxServerImpl.java#L1193-L1198

If possible we could skip the `put` if th

[2019-04-12 18:24] Iteratrix commented on #850
@jaypatel512 I think we may have run into something similar at one point. Any chance that you were trying to integrate with the Salesforce Streaming API?

[2019-04-15 09:44] #850 closed, assigned to nobody

[2019-04-20 09:10] sbordet commented on #854
@nathklei I'm a little hesitant to allow applications to change the Bayeux `error` field.

You have 2 alternatives that should work well for you:

- Add another field to the message, say `app_error` or `failure` so that your message looks like this:
[code]

- Use the `data` field of the message to convey the failure.

Note that you can access the reply message from the `SecurityPolicy` in this way

[2019-04-20 09:23] sbordet opened #855 "Review Extension return value"
Extensions, in both client and server, are currently returning a `boolean` value.

However, the semantic is slightly more convoluted than a simple boolean: we want to be able to deny the message (and stop processing of other extensions), to ignore the message (and continue processing of other extensions), accept the message and perhaps drop the message (i.e. don't deny it but also don't continue t

[2019-04-22 15:01] nathklei commented on #854
Hey @sbordet thanks for the response. I understand that allowing customizations like this isn't something you'd like to allow. I'd already started going down a path of using my own fields for serializing additional error info - I'll continue going down that path which works well as I have a well-defined payload I can include. Going to close this one out!

[2019-04-22 15:01] #854 closed, assigned to nobody

[2019-04-23 03:04] skryabinvi opened #856 "Handshake 404 ERROR (Wildfly + Angular 6)"
Hello! It's my first experience with Cometd. And i have some problems.
I have a project: Java EE 8, Wildfly 10, Angular 6, Cometd 4.0.3, jetty 9.4.15.v20190215

My web.xml:

        <servlet>
                <servlet-name>cometd</servlet-name>
                <servlet-class>myproject.cometd.MyAnnotationCometDServlet</servlet-class>
                <load-on-startup>1</load-on-startup>

[2019-04-23 07:14] sbordet commented on #856
I'm not familiar with wildfly. Can you explain how you have the server on port 8081 but call CometD on port 4200?

If it's some kind of wildfly proxying, are you sure you are proxying CometD correctly?

[2019-04-24 09:43] skryabinvi commented on #856
Oh, my stupid bad...
I must send request http://localhost:4200/sur/cometd/handshake.
500 error tell me - server got request but throw exception. I forgot add async-supported = true to the filters.

Sorry and Thanks for help!

[2019-04-24 09:49] skryabinvi commented on #856
Please tell me two more:
1) Is it normal for a client to send a "/connect" request every 30 seconds? I subscribe to the channel in the header of my site. It turns out that during the life of the entire session, the client will send requests every 30 seconds. This is normal? I'm just not good at this field ...
2) The subscribed channel  returns me information only if I reloging in to the system. If

[2019-04-24 14:30] sbordet commented on #856
Yes it's normal. That is CometD doing "long-polling".

You have to explain this in more details.
If you handshake and then subscribe to a channel, messages sent to that channel will be delivered to subscribers. There is no need to "re-login" or "re-handshake".

[2019-04-25 04:40] skryabinvi commented on #856
1. OK.

2. Again my bad. Problem on my code in front-side.

I have not any questions.

Thank you!

[2019-04-25 10:04] #856 closed, assigned to nobody

[2019-05-06 23:57] jaypatel512 opened #857 "BayeuxClient retrying handshake forever, even in case of SSL failures"
Hey !

We see that the bayeux client keeps on retrying even if handshake failed with SSL error of hostname not valid.

What is the correct procedure to shutdown, or limit the retries during fatal errors like above.

Thanks.

[2019-05-07 06:38] sbordet commented on #857
You call `BayeuxClient.disconnect()` to stop the handshake retries.
You use a `/meta/handshake` listener to count how many retries you want to do.

[2019-05-07 06:38] #857 closed, assigned to nobody

[2019-05-08 17:38] sbordet opened #858 "Avoid to hardcode usage of `window`"
See cometd/cometd-nodejs-client#17.

[2019-05-14 14:28] sbordet opened #860 "Remove mimeType option"
The `mimeType` option is an undocumented option.
However, it's not recommended for users to change it, as it will otherwise garble the response content if the user sets a different encoding.
Furthermore, other parts of the code assume the encoding is `UTF-8` because the Bayeux Protocol is based on JSON.

[2019-05-14 15:19] #860 closed, assigned to nobody

[2019-05-15 22:30] ChuckJonas opened #861 "Depreciate 4.0.4 and release as a new MINOR version instead of a patch."
I'm not sure why yet, but 4.0.4 breaks on import when running under node.  (Where as it used to just break after initializing a new client class)!

/Users/jonas/Documents/code/bass/node_modules/cometd/cometd.js:22
        runtime = window;
        ^

ReferenceError: window is not defined
    at _ids (/Users/jonas/Documents/code/bass/node_modules/cometd/cometd.js:22:9)
    at Object.<anonymous> (/U

[2019-05-15 22:33] ChuckJonas commented on #861
IOW, I think you need to run:

`npm deprecate cometd@4.0.4 "some message"`

and release this as 4.1.0

[2019-05-16 14:05] sbordet opened #862 "LinkageError when using client JettyWebSocketTransport in webapp"
[code]

[2019-05-16 14:10] sbordet commented on #862
This was introduced when trying to avoid usage of deprecated methods in 56838072c65ef40490b482d7f57fc4e1750ffb2f.

Unfortunately, the Jetty server has its own copy of `HttpClient` (for use in the WebSocket implementation) so the JVM hits a `LinkageError` if `WebSocketClient`'s `HttpClient` is exposed to a webapp that also has `HttpClient` in `WEB-INF/lib`.

[2019-05-17 08:34] bidorffOL opened #863 "CometD does not start when bundled with rollup and rollup-plugin-commonjs"
Ever since #858, I'm getting a `Cannot read property 'cometdRuntime' of undefined` when attempting to initialize CometD. I believe that it may be because I'm bundling CometD into my app using `rollup` and `rollup-plugin-commonjs`.

Shouldn't this patch be using `var runtime = root['cometdRuntime'];` instead of `var runtime = this['cometdRuntime'];` or check if `this` exists ?

[2019-05-17 08:43] sbordet commented on #863
@bidorffOL `this` is being passed as an argument in the immediate invocation of the function.
For formal parameter that receives that argument is called `root`.
What environment are you using, where `this` is not defined?
In NodeJS, `root` and `this` will point to different objects (one to the module context, the other to the global context).

[2019-05-17 09:17] bidorffOL commented on #863
I'm running the app in the browser. However, I'm using `rollup `to bundle my app as an 'IIFE' , this may be the reason why `this` is `undefined`.

[2019-05-17 12:23] sbordet commented on #863
@bidorffOL CometD also uses IIFE, and `this` is defined.
Can you give me a small project that reproduces the error you have?

[2019-05-20 16:21] #862 closed, assigned to nobody

[2019-05-20 16:53] jaypatel512 commented on #857
Thanks @sbordet ! We will try that out. Thanks for all your help so far 🙇

[2019-06-05 08:42] Lisa09Liu opened #865 "Spring boot + cometd , no handshake request."
I try to use cometd in the spring boot version 1.5.13 and cometd is 3.0.9
Here is application.java code :

[code]

Here is a problem : /cometd/handshake can not be listen . I use tomcat not jetty. Could anyone know about spring boot with cometd ? Do I need to use comed 4.0.4 or something need to config ?

[2019-06-05 09:33] sbordet commented on #865
I obviously cannot reproduce your issue since it contains files and classes that are part of your project.
You do not even specify what error are you getting, no stack trace, nothing.
You state that "/cometd/handshake can not be listen" but you give no evidence.
Unless you provide a simple reproducible case it's difficult to help you.

There is a fully working example of Spring Boot 2 and CometD 4

[2019-06-05 09:58] Lisa09Liu commented on #865
@sbordet Sorry to make you confused, I just want to know is there must to use CometD 4 with spring boot ? Use CometD 3 is OK or not ?

[2019-06-05 17:57] sbordet commented on #865
@Lisa09Liu I did not try to use Spring Boot 1.x with CometD 3.0.x, but I don't see why it would not work. CometD is a standard web application written using the Servlet API, so it should work fine in any container or library - we just cannot test all the possible combinations.

[2019-06-06 01:17] Lisa09Liu commented on #865
@sbordet OK , thank you . I will try to use spring boot 1.5.13 with CometD 3.0.9.

[2019-06-06 09:42] Lisa09Liu commented on #865
@sbordet
Today the handshake request has been sent every 1 minute, the url is **https://test/PrimeFinance/Realtime/cometd/handshake.** But it throws 404.
However the url **https://test/PrimeFinance/Realtime/login** returns 200 and can return a token.
I use Spring Boot 1.5.13 with CometD 3.0.9 and Spring Security 4.2.6.
Here is no any exceptions and errors. I really don't know what's problem here.

[2019-06-06 09:45] sbordet commented on #865
Please have a look at the [troubleshooting guide](https://docs.cometd.org/current3/reference/#_troubleshooting).
Enable DEBUG logging in both client and server and you should have additional information about what's going wrong.

Also, try to write a super-simple Spring Boot application with CometD, that does nothing else that start the CometD server.
If you get that running, then step by step you

[2019-06-06 09:51] Lisa09Liu commented on #865
@sbordet  OK Thanks !

[2019-06-11 09:57] Lisa09Liu commented on #865
@sbordet  Good news my project cometd works well with spring boot . However , I have one more question , do you know how to use comdtd js with spring boot , like 'cometd-adapter.js' , I add these js into /src/main/resources/static/js. It seems doesn't work , when I send one message , no message will be returned. Do you know how configure cometd js with spring boot ?

[2019-06-11 10:25] sbordet commented on #865
Glad you made it work. Do you mind to share your experience here so that others that may have issues with Spring Boot will find the solution? What was the problem and how did you solve it?

What's `cometd-adapter.js`? It's not something that is provided by the CometD project.

[2019-06-12 01:30] Lisa09Liu commented on #865
My project use Spring Boot 1.5.19 with CometD 3.0.9 and Tomcat 8.5.37.
(1) @ImportResource import all the xml files to the Application.java
(2) Remove (in xml file)
[code]
(3)Application extends SpringBootServletInitializer implements ServletContextInitializer
[code]
(4)pom.xml
Remove:
[code]
Add:
[code]
These are all I think will impact CometD with Spring Boot. Hope these will help someone.

[2019-06-12 20:15] bidorffOL commented on #863
I'm sorry for replying so late, [here](https://github.com/bidorffOL/cometd_defect_863) is a small example where you can reproduce the behavior (the error is shown in the devtools when browser-sync starts up).
(BTW, the error can't be reproduced with CometD <4.0.4)

[2019-06-13 10:25] thaidinh21 opened #866 "Can we using cometd java client to subscribe to Faye's channel(Nodejs)?"

[2019-06-13 10:41] sbordet commented on #866
Are you aware that CometD has a NodeJS client and server implemented?
https://github.com/cometd/cometd-nodejs-client/
https://github.com/cometd/cometd-nodejs-server/

[2019-06-13 15:59] thaidinh21 commented on #866
Thank you @sbordet
I will take a look.

[2019-06-13 15:59] #866 closed, assigned to nobody

[2019-06-13 21:21] CapVidotti opened #867 "How to use cometd when your client can't use cometd to manage the http connections"
How to use cometd when your client can't use cometd to manage the  http connections?

My app needs to use a lib that manage the http connections in order to garantee the security. I can add new headers, for example.

Today I have a chat using the bayeux transaction in short polling mode. I would like to move to long polling.

[2019-06-13 22:01] sbordet commented on #867
You have to explain a bit more your case.

If you can use short polling with CometD, you can use long polling too.

What does that mean, in details?

If it's just about adding headers, you can already do it with CometD.

[2019-06-18 09:13] 3DRaven opened #868 "Messages lost when slow message processing"
Hi!
When i make slow message processing in MessageListener then messages is lost. Example
new MessageListener() {
    @Override
    public void onMessage(ClientSessionChannel channel, Message message) {
     Thread.sleep(3000);
    }
if i register this message listener on channel then messages is lost on client side when we have 100 messages per second. 50% messages is lost. How to process message

[2019-06-18 19:34] sbordet commented on #868
Please read this section of the documentation: https://docs.cometd.org/current4/reference/#_concepts_threading

[2019-06-18 19:34] #868 closed, assigned to nobody

[2019-06-20 19:36] jaypatel512 commented on #837
I doubt that. Closing the issue as I do not have any pointers to give at this point. Will re-open or create a new one once I have more information for you. Thanks :)

[2019-06-20 19:36] #837 closed, assigned to nobody

[2019-06-20 19:40] jaypatel512 commented on #724
Hey @sbordet ! The fix created for this fails the sales force integration as outlined in this stack overflow comment. Reverting to 3.1.1 works with salesforce. Do we know if there is a workaround to keep the latest version and allow using salesforce ? We are currently on version 3.1.4 and are seeing this issue outlined here: https://salesforce.stackexchange.com/questions/197728/cannot-add-property

[2019-06-21 09:30] dirk-olmes commented on #863
I'm stumbling over the same issue, albeit I'm using rollupjs directly not via gulp. I have also put together [a small project](https://github.com/dirk-olmes/cometd-issue-863) to demo my use case.

[2019-06-21 17:36] sbordet commented on #863
I'm out next week, but I will take a look and fix this issue (or rollback to previous code).
Thanks for the repro projects!

[2019-06-25 18:38] jaypatel512 opened #869 "Salesforce compatibility for long-polling transport"
The fix #724  created for this fails the sales force integration as outlined in this stack overflow comment. Reverting to 3.1.1 works with salesforce. Do we know if there is a workaround to keep the latest version and allow using salesforce ? We are currently on version 3.1.4 and are seeing this issue outlined here: https://salesforce.stackexchange.com/questions/197728/cannot-add-property-context-

[2019-07-02 17:20] mhp0rtal opened #870 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => cometd-java/cometd-java-oort/src/main/java/org/cometd/oort/Oort.java: Line number => 445: API name => MessageDigest:<BR> File name => cometd-java/cometd-java-oort/src/main/java/org/cometd/oort/Oort.java: Line number => 445: API name => MessageDigest:<BR> File name => cometd-java/cometd-java-oort/src/main/java/org/cometd/oort/

[2019-07-04 11:06] kyleabcha commented on #775
We called subscribe() after handshake(), for example:

client.handshake();
client.subscribe();

This led to the problem. We fixed by adding a callback to handshake() call to verify if the handshake is successful and only call subscribe() in the safe place.

client.handshake(message -> {
    if (message.isSuccessful()) {
        client.subscribe();
    }
});

[2019-07-04 12:47] sbordet opened #871 "Better handling for aborted XHR"
It has been reported that on Chrome (certainly Chrome on Mac) trying to "Save As..." a HTML page that uses CometD causes the current long poll request to be canceled but never resumed.

[2019-07-04 12:47] sbordet commented on #871
This happens with the vanilla binding.

[2019-07-04 15:43] sbordet commented on #858
Reopening as the fix broke a number of other libraries.

[2019-07-04 18:03] #871 closed, assigned to nobody

[2019-07-05 09:11] sbordet commented on #724
@jaypatel512 please open another issue about this.

[2019-07-05 09:12] sbordet commented on #865
@Lisa09Liu is still an open issue for you? If not, you can close it?

[2019-07-05 09:14] sbordet commented on #843
Closing, as it should be fixed.

[2019-07-05 09:14] #843 closed, assigned to nobody

[2019-07-08 03:08] Lisa09Liu commented on #865
@sbordet  I will close it ,thanks very much !

[2019-07-08 03:08] #865 closed, assigned to nobody

[2019-07-08 08:14] sbordet commented on #869
I need more information about this.

The error "TypeError: Cannot add property context, object is not extensible" is strange as certainly browsers do not "seal" the XHR object as described [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/isExtensible#Description).

What client are you using, and why does it "seal" the XHR object?

[2019-07-09 15:24] jaypatel512 commented on #869
Hey @sbordet !

We are trying to use this in our salesforce setup. We are using long-polling javascript client.

Salesforce had in their documentation somewhere (which I am trying to find as I am writing this), that mentions that salesforce would replace some javascript components with its secured version. E.g. context would be replaced with secureContext, which does not allow for updating the val

[2019-07-09 15:32] sbordet commented on #869
@jaypatel512 so you are not using CometD's client, but SalesForce client.
I'm not sure there is something we can do here, you should ask SalesForce why they do that?

[2019-07-09 15:45] jaypatel512 commented on #869
Hey @sbordet ! We are using cometD library version 3.1.4. We are manually adding it to salesforce website using lightning components.

The issue comment by Grekker outlines what is causing the error. CometD library version 3.1.1 worked properly. A change in #724 is the one that is causing the error, as it is trying to update the params "context" on xmlhttprequest. This is what Salesforce protect f

[2019-07-09 17:12] sbordet commented on #869
I don't know what that means.

I understand the problem. It is a feature that has been added to CometD and cannot be removed.
Why SalesForce decided to "seal" XHR I don't know, but there is not much we can do. You should ask them to remove the sealing.
From the JavaScript point of view, I should be allowed to add any property to any object.

Best I can do is to do some sniffing to check if the obj

[2019-07-09 19:00] sbordet commented on #869
CC @WalkerWatch

[2019-07-11 12:24] sbordet commented on #863
I decided to rollback the fix for #858 (cometd/cometd-nodejs-client#17), so rollup should be fixed now.

[2019-07-11 12:25] #863 closed, assigned to nobody

[2019-07-11 12:26] sbordet commented on #861
Released `cometd-nodejs-client@1.0.4` to fix the issue.

[2019-07-11 12:26] #861 closed, assigned to nobody

[2019-07-17 13:27] sbordet opened #872 "Replace AtomicReference usages with VarHandle"
There is no need in CometD 6 and JDK 11 to allocate an `AtomicReference` for atomic state machines, because they can be done using `VarHandle`.

See `AsyncFoldLeft` implementation.

[2019-07-17 13:28] sbordet commented on #872
Failures can just be stored in a `volatile` field; the last failure will be remembered instead of the first.

[2019-07-21 15:30] sbordet commented on #869
@jaypatel512 best suggestion to fix this issue would be to first determine whether the XHR object is sealed or frozen. Can you check that by modifying the `cometd.js` source code?

[2019-08-16 21:42] mkorkar commented on #657
Hi sbordet,
i have tried to use with angular 8 but useless so if you can provide example for this

[2019-08-17 09:17] sbordet commented on #657
@mkorkar what's the problem? AFAIK, Angular > 1 does not require any specific integration so you can just use CometD as you like.

[2019-08-18 07:41] mkorkar commented on #657
hi sbordet, glade to hear from you
finally i am able to make the project compile successfully but i used cometd-jquery code as found in
the Demo [the primer->the maven way]
i use microservice architecture [i mean frontend not packaged with backend as in the demo ] and
i am  able to deploy the spring boot backend code [cometd server side] on jetty [9.4] successfully
but i hit in an exception that f

[2019-08-19 09:44] sbordet commented on #657
@mkorkar it's not mandatory to make front-end and back-end on the same host.
See https://docs.cometd.org/current4/reference/#_javascript_transports_cross_origin.

[2019-08-19 10:09] mkorkar commented on #657
@sbordet ,
from the primer Demo i noticed that you used a [CrossOriginFilter] and since my backend is spring boot deployed in standalone jetty and based on your spring boot demo this is my class :
-----------------------------------------------------------------------------------
@SpringBootApplication
@EnableWebMvc
public class SpringBootWebSocketDemoApplication extends SpringBootServletInitializ

[2019-08-19 10:13] mkorkar commented on #657
from the primer Demo i noticed that you used a [CrossOriginFilter] and since my backend is spring boot deployed in standalone jetty and based on your spring boot demo this is my class :
-----------------------------------------------------------------------------------------------------
@SpringBootApplication
@EnableWebMvc
public class SpringBootWebSocketDemoApplication extends SpringBootServletIn

[2019-08-19 17:19] sbordet commented on #657
Once you are adding the CORS filter, it should work.
If it does not, then please: A) open a new issue as this one is not relevant anymore and B) must give details of "filter not work" (like: what happens exactly? client DEBUG logs? server DEBUG logs?).

[2019-08-20 17:28] zenbones opened #873 "WebsockTransport mishandles websocket extensions"
The problematic code is this...

[code]

The problems are...
1) The transport assumes that if the extensions is requested, and not explicitly turned off in the options, that it's negotiated, whether it's actually installed or not. If the option is true, we should still be checking whether there's an installed extension which at least has the same name as the requested extension.
2) The transport r

[2019-09-03 06:58] ddouras opened #874 "CometD Angular - How to reduce meta/connect requests interval on production"
I have an issue as stated in https://stackoverflow.com/questions/57766378/cometd-angular-how-to-reduce-meta-connect-requests-interval-on-production. Any ideas how to solve?

[2019-09-03 08:31] sbordet commented on #874
@ddouras you have to explain in more details what's the difference between your local runs and production.

If the server is continuously streaming events to your client, then the behavior is normal.

[2019-09-03 09:26] ddouras commented on #874
@sbordet sorry I have to rephrase. Is there any configuration variable or other way to increase the polling interval that cometd uses for the subscription channels (i.e salesforce channel)?

[2019-09-03 09:32] sbordet commented on #874
@ddouras CometD does not "poll", it "long polls".
The server is configured with the long poll timeout, so there is little you can do from the client.

I think you are looking at this problem in the wrong way: you think the problem is the poll interval, but it's likely something entirely different, such as many messages delivered from the server onto the channels you subscribe.

It would help if yo

[2019-09-03 09:48] ddouras commented on #874
The polling request that happens almost every second is the meta/connect one. This is sent form client to server and I have no messages form server to client

[2019-09-03 09:50] sbordet commented on #874
@ddouras I need evidence. Attach the DEBUG logs to this issue.

[2019-09-03 09:53] ddouras commented on #874
![image](https://user-images.githubusercontent.com/30793590/64163292-a6ed1300-ce49-11e9-96d3-06258e7053a6.png)

here's a snapshot from my production app. When I run on production message advice is set to 2000ms but locally it is set 0 for some reason

[2019-09-03 10:03] sbordet commented on #874
Read this: https://docs.cometd.org/current4/reference/#_multiple_sessions_with_http1_1.

[2019-09-04 10:02] jairzh opened #875 "TypeError: Cannot read property 'getType' of null"
The cometd will be broken when getting the following exception:

[code]

[2019-09-04 10:09] sbordet commented on #875
@jairzh what CometD version?

[2019-09-04 10:57] jairzh commented on #875
The jQuery is v3.3.1. For the CometD, I checked the source file and only found the following info:

[code]

Is there easy way to check the version?

[2019-09-04 11:05] sbordet commented on #875
That variable is expanded when the release is built.
You have used CometD from an officially released version, right?

[2019-09-04 11:21] jairzh commented on #875
Sorry, it is my fault. I checked the source file from the builded project. The version is `3.1.0`.

[2019-09-05 20:31] #875 closed, assigned to nobody

[2019-09-05 21:46] jairzh commented on #875
Thanks for your quickly fix @sbordet 👍

[2019-09-10 16:05] laeeqkhan01 opened #876 "Fatal error when running cometD primer"
I followed instructions as described in

https://docs.cometd.org/current4/reference/#_primer_maven_way

it goes till step  "mvn install"  without error, but when I try to run it, I get following fata errors,

[code]

Also, when I try to go to page,  http://localhost:8080/dojo-jetty9-primer/

I get Error 503,
This page isn’t working
Any ideas, what I could be doing wrong.

[2019-09-10 18:57] sbordet commented on #876
This is typically due to the fact that there is a BOM at the beginning of the XML file.
You appear to be on Windows, so if you cut/pasted from the documentation to create the XML file, depending on the editor you used on Windows you have to disable the BOM (could be an option in the editor), or manually remove it from the file.

[2019-09-26 08:51] boris-petrov opened #877 "autoBatch doesn't work"
I'm not sure I correctly understand what `autoBatch` in JavaScript should do, but even when I set it to `false`, CometD batches a bunch of subscription/publishing messages that I do before the handshake is complete into one big websocket message and sends them over. This causes the dreaded `The decoded text message was too big for the output buffer and the endpoint does not support partial message

[2019-09-26 15:43] sbordet commented on #877
@boris-petrov you need to show the code.

If you do:

[code]

then it's wrong.

If you do:

[code]

then with WebSocket you should have 2 separate messages going out (unless you explicitly batch them together).

[2019-09-26 21:08] boris-petrov commented on #877
@sbordet - I've always done like in your first example and it has always worked in the sense that once the handshake is successful, all subscriptions and publishing happens then. The only trouble is that all of them are sent as one websocket message. Are you saying that this was never intended to work and it worked by chance?

So what exactly does the `autoBatch` setting do?

[2019-09-26 21:24] sbordet commented on #877
The first example is wrong (although it works) because you are not testing that the handshake is successful. This has always been documented, [here](https://docs.cometd.org/current4/reference/#_javascript_handshake).

The problem of your approach is that until the handshake is replied, CometD has to queue messages such as subscriptions or publishes (because it does not yet have a `clientId` to sen

[2019-09-26 21:31] boris-petrov commented on #877
Thanks for the response.

I do check for errors in my code, it's a bit more complicated than your example. But, in the end, that's what happens - handshake is called and then a bunch of subscribe/publish. And it's always been like this because it works and as you say, CometD takes care of queuing these requests which is very convenient and useful.

In order to do what you suggest (which I know wil

[2019-09-26 21:36] sbordet commented on #877
You don't have to queue, just rearrange the code.

From
[code]

to

[code]

to

[code]

[2019-09-26 21:38] boris-petrov commented on #877
Of course, that would be easy, however our application is very dynamic and I don't know in advance what subscriptions and publishing will be done. This is determined at runtime and is different every time/on every page.

[2019-09-26 22:19] sbordet commented on #877
I guess you are waiting in your page for the load/ready event, or some framework does it for you.

You should be able to solve the issue in the same way, where _all_ your code is called _after_ the handshake reply returns - you just have to run your logic a little later.

Note that this will not have any performance impact, as the subscribe and publish messages will leave the client at exactly the

[2019-09-27 05:16] boris-petrov commented on #877
Well, it will have a minor performance impact, as sending multiple messages in a single websocked message is slightly faster than sending them one by one, correct?

In any case, I'll figure it out.

Just a few quick questions:

1) A `BayeuxServer.SessionListener`'s `sessionAdded` method (on the Java side) is called only when a new client connects, not on every subscription, right? What about recon

[2019-09-27 06:43] sbordet commented on #877
Correct, IFF the WebSocket message does not fail because it's too large :wink:

1. `sessionAdded()` is called when a client handshakes with the server. Could be a new client, could be an existing client that lost connection for long enough that is now re-handshaking. Subscriptions and `/meta/connect` messages do not cause this method to be invoked.
1. Running operations that takes a lot of time in

[2019-09-27 07:29] boris-petrov commented on #877
About number 2 - I didn't explain it very well - of course I mean that `longRunningOperation` is an asynchronous method which spawns threads/uses async IO/whatever and calls the callback in a different thread than the original. That is, I'm not blocking the execution of the listener at all. But the question remains - is the `remote` variable still valid between re-handshaking? I guess it isn't bet

[2019-09-27 12:23] sbordet commented on #877
Depends what you mean by "valid". If the client is re-handshaking, then on the server there will be a new `ServerSession` object representing the new handshake.

If the client is gone (e.g. all connections from that client are lost), the `ServerSession` object is "valid" on the server, but when the server-side application tries to deliver messages they will fail.
The session won't receive the hear

[2019-09-27 12:37] boris-petrov commented on #877
So in either case (re-handshake or re-connect) `remote.deliver(sender, ...)` will do nothing/throw an exception, right?

[2019-09-27 13:55] sbordet commented on #877
`remote.deliver(...)` will enqueue the message on the session, and will try to flush it.
The flush may happen later (e.g. lazy channel) and possibly in another thread (e.g. waking up a suspended `/meta/connect`), so the sender won't know if the transport failed to write the messages.

[2019-10-03 23:35] gatman opened #878 "broadcastToPublisher per channel"
This issue is related to :
Selectively prevent sending published message back to original. https://groups.google.com/forum/#!topic/cometd-users/IZoGYTBBHVM

The original title should have said (original publisher).  BroadcastToPublisher is the term used by cometd.

I have a situation where I want to selectively prevent delivery to publishers on a specific channel.

As the mailing list thread descr

[2019-10-07 07:45] #878 closed, assigned to nobody

[2019-10-07 13:28] sbordet commented on #877
@boris-petrov seems this was clarified. If you're good, can you please close the issue?

[2019-10-07 13:29] sbordet commented on #874
@ddouras I think this issue was clarified. If you are good, can you please close the issue?

[2019-10-07 13:29] boris-petrov commented on #877
@sbordet - yes, thank you for the support!

[2019-10-07 13:29] #877 closed, assigned to nobody

[2019-10-07 15:31] joakime commented on #873
The [`javax.websocket.server.ServerEndpointConfig.Configurator.getNegotiatedExtensions(List<Extension> installed, List<Extension> requested)`](https://docs.oracle.com/javaee/7/api/javax/websocket/server/ServerEndpointConfig.Configurator.html#getNegotiatedExtensions-java.util.List-java.util.List-) works like this ...

1. The client makes a HTTP/1.1 WebSocket Upgrade request with offered `Sec-WebSoc

[2019-10-07 20:16] #873 closed, assigned to nobody

[2019-10-09 09:36] ygavrylenko commented on #778
Just stumbled upon your discussion -  to make our stream consumer scalable, the app must be able to distribute messages to many parallel processes. You can use something like Redis to solve these two problems. With Redis, the Replay ID for each topic can be tracked and messages distributed to many clients through pub/sub or reliable queues.
Check this example - https://blog.heroku.com/reactive-pro

[2019-10-12 03:24] FC2333 opened #879 "jetty project Integration cometD"
2019-10-12 11:13:11,398 [main] WARN  org.eclipse.jetty.server.handler.ContextHandler.grcv5 - unavailable
javax.servlet.UnavailableException: Missing org.cometd.oort.Oort attribute
        at org.cometd.oort.SetiServlet.init(SetiServlet.java:42)
        at org.eclipse.jetty.servlet.ServletHolder.initServlet(ServletHolder.java:672)
        at org.eclipse.jetty.servlet.ServletHolder.initialize(Servle

[2019-10-12 10:35] sbordet commented on #879
[code]

If you use Jetty standalone, make sure you have enabled the `websocket` module.

If you use Jetty embedded, make sure you have the WebSocket jar in the classpath.

[2019-10-12 10:35] #879 closed, assigned to nobody

[2019-10-15 08:19] FC2333 opened #880 "The dojo.js file location was not found in the example"
<title>CometD Oort Auction Demo</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Varela+Round">
  <link rel="stylesheet" type="text/css" href="auction/css/styles.css" />

  <script type="text/javascript" src="../js/dojo/dojo.js"></script>

  <script type="text/javascript" src="auction/js/prototype.js"></script>
  <script type="text/javascript" src='auc

[2019-10-16 08:17] sbordet commented on #880
The problem could be that you have put the `dojo.js` file in a place that is not what is referenced by the snippet above.

[2019-10-16 08:17] #880 closed, assigned to nobody

[2019-10-28 08:53] ddouras opened #881 "Handshake not setting BAYEUX_BROWSER cookie to browser"
Hi, I am using CometD with Angular 6. After a successful handshake I get error in all subsequent connect requests -> 400::Client {myClientId} has established a session, but no BAYEUX_BROWSER cookie present

How can I resolve that. I see handshake uses a Set Cookie response header, but I am not able to get this header using response.headers. Shouldn't it automatically set cookie on browser?

[2019-10-28 09:24] sbordet commented on #881
What CometD version?

CometD does not return the message you reported above, do you have some wrapper code around CometD?

The `BAYEUX_BROWSER` cookie is marked as `HttpOnly`, so it's not available via JavaScript.

If it's not set by the browser in the `/meta/connect` requests, it may be that your browser has cookies disabled?

[2019-10-28 09:29] ddouras commented on #881
I am using cometd 4.0.3 to listen to Salesforce notifications. My code looks like :

        this.connection.handshake((response: any) => {
          if (response.successful) {
            this.connection.batch(() => {
              this.connection.subscribe(`/topic/Topic1=${id}`, onApplicationChange);
              this.connection.subscribe(`/topic/Topic2=${id}`, onResultChange);
            });

[2019-10-28 10:13] sbordet commented on #881
I don't know what SalesForce does exactly on the server side.

Your code looks good from the CometD point of view (assuming that `connection` is the CometD object).

If you see `Cookie: BAYEUX_BROWSER=...` in the _request_ headers for requests after the handshake, then you should be good.

Can you really use a plain CometD JavaScript client with SalesForce?
Don't they require their own client?

[2019-10-28 10:36] ddouras commented on #881
According to Salesforce https://developer.salesforce.com/docs/atlas.en-us.api_streaming.meta/api_streaming/streaming_error_codes.htm

Client client_name has established a session, but no cookie_name cookie present -> No cookie was found after the client established a session. Ensure that the streaming client accepts cookies.

Also in https://developer.salesforce.com/docs/atlas.en-us.api_streaming.

[2019-10-28 10:58] sbordet commented on #881
Are you using some proxy that may strip the cookies?

If you don't see the browser sending `Cookie: BAYEUX_BROWSER=...`, is it possible that there is a `https` vs `http` issue? I.e. the server sent the cookie for `https`, but you are trying `http` or viceversa?
Is it possible that the domain for which the cookie is set is different?

[2019-10-28 11:36] ddouras commented on #881
the handshake and subsequent requests are all using the same domain. If that was the case then handshake request would be stripped of cookies as well right?

[2019-10-28 11:39] sbordet commented on #881
The handshake request, being the first, has no cookies.

[2019-10-29 14:13] sbordet opened #882 "Introduce "softMaxInterval""
Option `maxInterval` controls the session expiration.

There are cases where it would be useful to detect when a client has connectivity problems and schedule some action - for example forfeit a game in 10 seconds.
If the connectivity is restored, the action can be canceled.

The idea is to have a `softMaxInterval` that triggers an event when the server does not receive a `/meta/connect` from the

[2019-10-29 14:30] sbordet opened #883 "Don't use HTTP 408 for expired /meta/connect"
From the [specification](https://tools.ietf.org/html/rfc7231#section-6.5.7):

   client MAY repeat that request on a new connection.

It happens that Firefox 70 does not retries the request, but Chrome 78 does, so we better not use the HTTP code 408 for expired `/meta/connect` messages, since CometD will take care of the retries.

[2019-10-29 14:57] #883 closed, assigned to nobody

[2019-10-30 09:44] sbordet commented on #867
No further activity, closing.

[2019-10-30 09:44] #867 closed, assigned to nobody

[2019-10-30 09:46] #874 closed, assigned to nobody

[2019-10-30 09:47] #876 closed, assigned to nobody

[2019-10-30 09:49] sbordet commented on #881
@ddouras can you be hitting #833?

[2019-10-30 11:16] #833 closed, assigned to nobody

[2019-10-30 11:36] sbordet commented on #824
Implemented.

[2019-10-30 11:36] #824 closed, assigned to nobody

[2019-10-30 12:05] #835 closed, assigned to nobody

[2019-10-30 12:09] sbordet commented on #835
@nathklei I implemented a best effort solution where only broadcast messages are now subject to the `broadcastToPublisher` option (like it was always meant).

As such, your `/meta/disconnect` will be delivered, but only if there is an outstanding `/meta/connect` (for HTTP transports).

[2019-10-30 23:35] nathklei commented on #835
Thanks for coming back to this!

[2019-10-31 08:36] sbordet opened #884 "TimeSyncExtension.js broken"
Since the changes for #699, `TimeSyncExtension.js` was broken because it was using `Utils.setTimeout()` that was removed.

[2019-10-31 09:18] #884 closed, assigned to nobody

[2019-11-04 11:04] boris-petrov commented on #820
This issue seems fixed with the latest Tomcat. In any case it looks like an issue there so I'll close this issue.

Thank you for the support!

[2019-11-04 11:04] #820 closed, assigned to nobody

[2019-11-04 16:29] sbordet opened #885 "ServerSession.Extension has no sender parameter"
`BayeuxServer.Extension.outgoing()` signature contains both the `ServerSession` sender and `ServerSession` receiver.

However, `ServerSession.Extension.outgoing()` signature only has the `ServerSession` receiver as parameter.

[2019-11-04 16:32] sbordet commented on #855
Using an enum in general is not possible, since `ServerSession.Extension.send()` must return a `ServerMessage`.

[2019-11-04 16:39] sbordet opened #886 "Async leave loop never completes"
Calling asynchronously `Loop.leave(R)` results in the async loop to never complete.

[2019-11-04 17:44] sbordet opened #887 "Remove Message.getJSON()"
`Message.getJSON()` is the last deprecated method to remove in 5.0.0.

However, it is difficult to remove because users use it for debug purposes, and it's handy to the implementation to get the generated JSON if the message is to be sent to multiple subscribers.

So perhaps un-deprecate it, and throw `IllegalStateException` is the JSON has not been generated?

[2019-11-04 17:46] #885 closed, assigned to nobody

[2019-11-04 18:31] sbordet commented on #855
The case of `boolean` + `handled` to implement a CometD proxy seems to be quite rare, and only apply to incoming server-side extensions/listeners.

As such, I'm inclined to leave it a private API for now, and keep the return value of extensions as is.

[2019-11-04 18:31] #855 closed, assigned to nobody

[2019-11-05 14:20] #887 closed, assigned to nobody

[2019-11-05 17:53] #886 closed, assigned to nobody

[2019-11-05 17:54] #869 closed, assigned to nobody

[2019-11-09 23:58] Pojahn-Netent opened #888 "How to broadcast in a clustered setup?"
Using CometD 4.0.5, I am using a clustered setup to scale horizontally.

We have configured CometD to be server to client communication only. So the server decide when it's time to broadcast a message.

I wan't all the nodes in the cluster to broadcast a message to all their subscribers of a given channel. I don't however see a relevant method in org.cometd.oort.Oort to achieve this. The documenta

[2019-11-10 22:01] sbordet commented on #888
https://docs.cometd.org/current4/reference/#_broadcast_messages_forwarding

[2019-11-10 22:01] #888 closed, assigned to nobody

[2019-11-18 17:33] jaypatel512 commented on #651
Has there been any changes to this ? We are hoping to use cometd for our mobile native integration as well and were wondering if that is an approach we can do. Also, if not, are there any alternatives without redesigning our entire code to support both cometD and non-cometD versions @sbordet !

Thanks.

[2019-11-18 20:17] sbordet commented on #651
@jaypatel512 no changes to this.

We have not had many requests for an iOS client, and apparently not many are interested in writing one and maintaining it. Unless there is some sponsoring or contribution, I don't see this changing in the near future, sorry.

As a reminder for readers of this issue, it is possible to sponsor CometD development via [Webtide's commercial support](https://docs.cometd

[2019-11-19 16:16] sbordet opened #889 "Support SameSite cookie attribute"
Chrome 80 will ship with enhanced support for cookies, see the specification: https://tools.ietf.org/html/draft-west-cookie-incrementalism-00.

Applications should be able to configure CometD with the `SameSite` cookie attribute.

[2019-11-21 11:52] #889 closed, assigned to nobody

[2019-11-25 16:26] sbordet opened #890 "Introduce client turnover in benchmark"
The current CometD load benchmark creates a number of clients and keeps them constant during each benchmark run.

It would be nice if the benchmark client could be configured to turnover the clients, therefore giving the possibility to simulate a more realistic workload.

[2019-11-26 10:29] #890 closed, assigned to nobody

[2019-12-03 19:28] itselov commented on #889
Hi @sbordet,

Am I understand correct that this feature will be introduced in upcoming releases (3.1.12 and 4.0.6)?
If yes, when do you plan to release these new versions?

Application which I'm working on require SameSite support and depends on this feature.

TIA
Ilya

[2019-12-03 21:02] sbordet commented on #889
@itselov you are correct on the release numbering that include this fix.

I was planning to wait for Jetty 9.4.25 before releasing the new CometD versions.
That may be subject to change if there is enough pressure from the community.

Can you detail how `SameSite` is required? For now browser will just emit a warning, and will probably remain a warning for a few more months AFAIU.

[2019-12-03 21:48] itselov commented on #889
@sbordet, thx a lot for response.

Correct, right now there are warnings only, but if I understand correct Chrome 80 stable build will be released at February 4, 2020.

Our product is REST API platform, which customers use to build theirs custom apps and UIs.
Unfortunately in enterprise world upgrade schedules are pretty conservative, so our rough estimation was:
* if we deliver new version of our

[2019-12-23 18:15] sbordet commented on #889
@itselov CometD 3.1.12, 4.0.6 and 5.0.0-BETA1 have been released.

[2019-12-24 01:24] oohusl commented on #651
@piweihwt @jaypatel512 @sbordet  We plan to contribute a client for swift language .

[2019-12-26 20:08] sbordet commented on #651
@oohusl can you detail your contribution?
Is it already done?
Already public somewhere? If not, when?

[2019-12-30 04:57] oohusl commented on #651
@sbordet  just starting and expect a release in February 2020

[2020-01-14 10:39] aaleksandrov opened #892 "limit amount of messages received by a consumer"
Hi!
We're using this library with https://github.com/cometd/cometd-nodejs-client for fetching server-to-server from Salesforce. And when Salesforce publishes many messages (5k+) our consumer can't process it, runs out of memory etc.
Is it possible to limit amount of messages received by consumer? I cannot find anything regarding limits in `cometd`

[2020-01-14 11:01] sbordet commented on #892
CometD is notifying message listeners synchronously: it reads from the network, it calls the listeners and does not read from the network again until the listeners return.

This naturally applies backpressure so that the client does not explode.

If the server sends down a single enormous message, or a single array of messages of an enormous length, then it's the server assuming too much of what t

[2020-01-22 19:48] sbordet opened #893 "Client turnover does not work reliably"
Issue #890 introduced client turnover in benchmarks.

However, this leads to message loss and NPEs on the client.

Likely the problem is that issuing a disconnect from the client may happen while a server thread is publishing a message to that client, so the message will be lost.

[2020-01-22 22:21] swese44 opened #894 "Which version of the JavaScript library should be used with a Java server running CometD 3.1.2?"
Java server is running 3.1.2. Should our web client be running the npm `cometd` module version 3.1.2, or are there non-breaking improvements in the 3.1.x releases we should be using (latest is 3.1.12)? Or should we be using the 4.x branch?

Thanks!

[2020-01-23 08:48] sbordet commented on #894
We always recommend to run the latest CometD versions on both client and server.
CometD 3.1.2 is quite old now and likely the Jetty version too, so if you can, upgrade the server, possibly to version 4.0.x.

The protocol did not change so you should be able to use CometD 3.1.12 on the client and older versions on the server.

[2020-01-23 12:10] sbordet opened #895 "Improve Oort configurability"
Currently `OortConfigServlet` has a `newOort()` method that can be used to create `Oort` instances.
Then the `Oort` instance is configured with `init-param`s.
It would be nice if there was a step to configure the `Oort` instance after the `init-param` configuration.

[2020-01-23 12:23] #895 closed, assigned to nobody

[2020-01-29 23:02] sbordet opened #896 "Update WebSocket initialization code"
In case of embedded usage, move to use `WebSocketServerContainerInitializer.configure(context, configurator)` and remove the need to call `onStartup()`.

[2020-01-30 12:36] #896 closed, assigned to nobody

[2020-02-01 11:15] sbordet opened #897 "Document Cross-Site WebSocket Hijacking"
Add a paragraph/section about Cross-Site WebSocket Hijacking in the security chapter.

Also, a paragraph/section about non-browser clients may be useful.

[2020-02-13 18:56] sbordet opened #898 "Allow customization of duplicate /meta/connect HTTP response code"
After #883, the HTTP response code for duplicate `/meta/connect` was changed from 408 to 500.

However, 500 responses may trigger monitoring alerts on the server, so would be great if the error code could be customized.

[2020-02-13 21:44] squiddle opened #899 "AsyncFoldLeft not threadsafe if collection is concurrently modified can result in closed Websockets"
Even though the listeners in ServerChannelImpl._listeners are a concurrently-modification safe CopyOnWriteArrayList the looping in BayeuxServerImpl#notifyListeners using AsyncFoldLeft is not.

AsyncFoldLeft#run takes the size of the collection at the beginning and calls List#get with an increasing index.
If the _listeners collection is changed during this left fold this will fail in either of 3 wa

[2020-02-14 10:28] squiddle commented on #899
I digged further through the code and the fix could be very minimal by removing the `AsyncFoldLeft#run(List, Operation, Promise)` specialized overload.

If that overload would be removed all current callsites would invoke `AsyncFoldLeft#run(Collection, Operation, Promise)` which uses Iterator based iteration that is working correctly for CopyOnWriteArrayList even under concurrent modifications (ba

[2020-02-14 10:28] boris-petrov opened #900 "[Tomcat 9.0.31] Missing WebSocket ServerContainer"
After updating Tomcat from 9.0.30 to 9.0.31 our integration tests don't want to even start due to:

[code]

I'm not sure whether this is a Tomcat issue or a CometD one or I'm doing something wrong but it was working before... how do I begin debugging this? I have these dependencies (among others):

[code]

CometD version is 3.1.12.

[2020-02-17 09:03] #898 closed, assigned to nobody

[2020-02-17 15:51] sbordet commented on #900
@boris-petrov the place where this exception is thrown is [here](https://github.com/cometd/cometd/blob/3.1.12/cometd-java/cometd-java-websocket/cometd-java-websocket-javax-server/src/main/java/org/cometd/websocket/server/WebSocketTransport.java#L70).

This is the JSR 356 standard way to obtain the WebSocket  `ServerContainer`, so Tomcat must expose it as per specification.

I don't know why it was

[2020-02-17 15:52] sbordet commented on #899
@squiddle good catch!

[2020-02-17 19:19] boris-petrov commented on #900
@sbordet - I haven't asked there yet, no. So this *cannot* be an application-configuration issue but is rather a Tomcat problem for sure? Or it's possible I'm not doing something right?

[2020-02-17 21:56] sbordet commented on #900
@boris-petrov I don't know. I don't think it's a CometD issue.

Could be your application configuration, or how you configure Tomcat, or how you package your webapp.

If it was Jetty, I would say that you have either misconfigured your JETTY_BASE if you use Jetty standalone server, or you have forgot some jar in the classpath if you use Jetty embedded.

Try to enable DEBUG logging for Tomcat, and

[2020-02-24 09:07] boris-petrov commented on #900
@sbordet - I've opened an [issue](https://bz.apache.org/bugzilla/show_bug.cgi?id=64153) in Tomcat's Bugzilla and I've given them a reproduction project so I hope they can fix it. I'll close this issue for now and will follow up if they think the problem is not there but in CometD.

Thanks for the support!

[2020-02-24 09:07] #900 closed, assigned to nobody

[2020-02-24 09:55] sbordet commented on #900
@boris-petrov are you configuring Tomcat with HTTP/2 only (no HTTP/1.1) and WebSocket?
Chances are that Tomcat does not support WebSocket over HTTP/2 and so it won't expose the `ServerContainer`.

[2020-02-24 10:18] boris-petrov commented on #900
Well, I do have this line:

[code]

But even commenting it out doesn't help. Also, I didn't change any code between the Tomcat version update so this was working before. I think this code doesn't remove the default HTTP/1.1 connector. Thanks for the suggestion!

[2020-02-27 10:14] sbordet opened #903 "Replace Nashorn with GraalVM"
Nashorn is [deprecated](https://openjdk.java.net/jeps/335) for removal in Java 11 and scheduled for [removal](https://openjdk.java.net/jeps/372) in Java 15.

Nashorn runs the JavaScript tests, so there are two options:

* revert back to Rhino
* use GraalVM's JavaScript implementation

For the latter, see https://github.com/graalvm/graaljs/blob/master/docs/user/RunOnJDK.md.

[2020-02-27 15:13] #899 closed, assigned to nobody

[2020-02-27 15:56] #897 closed, assigned to nobody

[2020-03-11 09:09] boris-petrov opened #904 "Disallowed characters in channel names"
[This commit](https://github.com/cometd/cometd/commit/63e243c15d3549270b7660ec05c26b27308566ad) introduced channel-name validation and added characters that are allowed in channel names. Why is that? I just hit a problem that I need `=` and `,` in a channel's name. How do I circumvent that?

Another thing I noticed which is related to [an old issue](https://github.com/cometd/cometd/issues/718) is

[2020-03-11 09:47] sbordet commented on #904
It's explained in #526.

Replace them with `_`.

I don't understand the part related to exceptions. Can you make an example?

[2020-03-11 10:26] boris-petrov commented on #904
Well, replacing with `_` doesn't work in my case (I wouldn't be opening the issue otherwise) because these are IDs that have to stay unchanged. So if I understand correctly, these allowed characters are from the specification and they won't change?

As for the exception:

[code]

As you can see, this exception is logged on the `DEBUG` level. As a normal user I don't enable `DEBUG` logging on libra

[2020-03-11 10:45] sbordet commented on #904
Correct, #526 was raised because other implementations of the Bayeux Protocol could not interoperate with CometD because CometD allowed characters in channels that were not allowed by the Bayeux Protocol.

While I understand your pain regarding the exceptions, it is common to _not_ log other peers errors, because they would just explode the logs.
Clients, in general, tend to do nasty things to ser

[2020-03-11 10:53] boris-petrov commented on #904
I'm using the JS client from CometD, yes. And what I saw in my logs in the browser was just: `subscribe for /notifications/some=thing was unsuccessful java.lang.IllegalArgumentExcep`. And nothing in the backend logs. I understand what you're saying. So yes, maybe the CometD client should throw that error.

As for the illegal characters - would you mind giving me an idea? My use case is that whenev

[2020-03-11 11:22] sbordet commented on #904
@boris-petrov please read the [security section](https://docs.cometd.org/current/reference/#_security) of the CometD documentation.

There you will find that many attacks are based on the fact that un-sanitized user input becomes the vector for attacks.

I definitely recommend to _not_ use the `<user-id>` as-is as a channel name - you must sanitize it or otherwise map the `<user-id>` to some other

[2020-03-11 11:45] boris-petrov commented on #904
hm, I have a custom SecurityPolicy class (that extends from `DefaultSecurityPolicy`) and implements `canSubscribe` by just checking whether the ID in the channel's name matches the user's ID. This means that no one can subscribe to any channel other than their own, is that correct? So that use should be safe? Or am I misunderstanding something?

Well, once the user opens a second tab in the browse

[2020-03-11 12:05] sbordet commented on #904
Implementing `SecurityPolicy.canSubscribe()` is good. Do you implement also `canPublish()` or there is no need to?
Point being I cannot tell if it's safe without knowing your application; I can just point you at the security documentation and give you examples of possible misuses, and you have to figure out whether it's a problem for your application or not.

A second tab is a second session, yes.

[2020-03-11 13:07] boris-petrov commented on #904
That XKCD is one of the best ones out there. :smile:

I do implement `canPublish` for things that I have to; for this specific channel I've done `channel.addAuthorizer(NO_PUBLISH_AUTHORIZER);` where `NO_PUBLISH_AUTHORIZER` is:

[code]

So it should be safe.

As for the XSS problem - that's also not an issue because these are not IDs that the user generates.

In any case, thanks for the support and

[2020-03-11 13:07] #904 closed, assigned to nobody

[2020-03-11 13:36] sbordet opened #905 "Restrict characters in channel names"
As a follow up of #526, the client libraries should have a similar logic where Bayeux message fields that have restricted characters should be validated, and report an error if the user uses invalid characters.

[2020-03-11 13:37] sbordet commented on #904
@boris-petrov thanks, I have opened #905.

[2020-03-25 14:26] nathklei opened #907 "It it possible for BayeuxClient to reconnect to another node on transport failure?"
Problem: I am running multiple cometd nodes in a clustered setup, using oort. Most of my clients are in front of a load balancer, as in the picture in https://docs.cometd.org/current/reference/#_typical_infrastructure

However, some clients are instead behind the load balancer, and I would like them to automatically reconnect to another node in the cluster should their current transport fail.

I s

[2020-03-25 17:08] sbordet commented on #907
Correct, it was implemented in #483.
See an example [here](https://github.com/cometd/cometd/blob/4.0.6/cometd-java/cometd-java-tests/src/test/java/org/cometd/tests/TransportFailureTest.java#L224).

The idea is that if a client application sets the `FailureInfo.url` field, then CometD will honor its value and try to reconnect to that URL.

The client, however, has no idea of the new URL (different

[2020-03-25 20:16] nathklei commented on #907
Hey @sbordet thanks a lot, appreciate the quick reply. Seems my approach is the way to go - I've overloaded onTransportFailure and set the url and things do work as expected.

Regarding how my client specifically gets these URLs, unfortunately I won't be able to share any of the actual code, but I've essentially extended BayeuxClient as in your example, providing a

`Supplier<List<String>> urls` p

[2020-03-25 20:47] sbordet commented on #907
@nathklei thanks for the feedback. Feel free to close the issue if it's solved for you.

[2020-03-25 21:52] nathklei commented on #907
Thanks!

[2020-03-25 21:52] #907 closed, assigned to nobody

[2020-03-26 17:37] nathklei opened #908 "OkHttpWebsocketTransport should fail instead of failMessages for websocket failure"
In more thorough testing of https://github.com/cometd/cometd/issues/907, I observed that the current approach of failMessage leaves the OkHttpWebsocketTransport in a partially failed state if the remote side goes away - and the OkHttp client reflects this as an EOFException.

The result is subsequent send() calls, initiated by /meta/connect messages, will fail the transport fully and force subsequ

[2020-03-26 17:41] nathklei commented on #908
Proposed change: https://github.com/cometd/cometd/pull/909
I've tested this in my environment and things seem to work as expected (e.g. the next send() that comes through properly re-creates the delegate from scratch.

[2020-04-15 11:17] choudhary001 opened #910 "Connection leak when Javascript client sees '402::Unknown Client' error and re-connects"
Cometd version: 3.1.1

Hi,
I think there is some sort of connection leak when Cometd client sees '402::Unknown client' error after a timeout. It looks like the old websocket connection is not closed before a new handshake is initiated to get a new client id from server. Another interesting thing is that server is also not closing TCP connection when a client is timed out.

Here is how to reproduce

[2020-04-15 12:34] sbordet commented on #910
Please update to CometD 3.1.13 and Jetty 9.4.28 and try again.

Do you have the server DEBUG logs?

[2020-04-15 12:48] choudhary001 commented on #910
I don't have the server debug logs right now. I can try it again with debug logging enabled. What information do you want me to check for?

[2020-04-15 13:27] choudhary001 commented on #910
I reproduced the issue with DEBUG logging enabled on server.

client:
[code]
server:
[code]
After kill -STOP and kill -CONT:

client:
[code]
server:
[code]

Server logs:
[code]

[2020-04-15 14:55] #908 closed, assigned to nobody

[2020-04-16 10:20] sbordet commented on #910
I don't think this is a CometD issue, but rather a Tomcat one, since it's Tomcat that must close connections.

This log line:

[code]

shows that the client closed the WebSocket and the correspondent message arrived on the server and got relayed to CometD. It is Tomcat's job to close the connection because it has received a WebSocket close frame. CometD (the application) is just notified that the

[2020-04-16 15:23] choudhary001 commented on #910
@sbordet I agree that the old connection is closed, however if you notice that after kill -CONT, there are 2 new connections which are initiated by cometd javascript client. CometD JS client never closed the connection that it had to re-establish due to timeout, then it received Unknown client error because server no longer recognizes the client id and this a new connection is created because JS c

[2020-04-17 08:46] sbordet commented on #910
@choudhary001 investigating, thanks for reporting.

[2020-04-17 13:47] #910 closed, assigned to nobody

[2020-04-17 13:48] sbordet commented on #910
@choudhary001 can you please verify that the latest code in the `5.0.x` branch fixes this issue?

[2020-04-20 06:53] choudhary001 commented on #910
@sbordet Can this be backported to any 3.x versions?

[2020-04-20 07:55] sbordet commented on #910
@choudhary001 CometD 3.1.x and 4.0.x have been declared End-Of-Life.

[2020-05-07 01:46] lmcalpin opened #913 "Remove the requirement to specify a maxMessageSize"
Salesforce hosts one of the largest CometD user base, as it is what we use for the Streaming API.  It is used for a wide variety of topics with varying behavior; some are bursty, some have consistent volume, others have sporadic usage with very large messages.  The server doesn't know what each of the tens of thousands of users are capable of, and we would prefer to keep the client side as configu

[2020-05-07 07:46] sbordet commented on #913
It would _seem_ better.

The fact that `InputStream` is a blocking API would require threads to perform the blocking operations out of listeners, and that would just harm the scalability of the client, and move the problem to a different configuration (now you don't have enough threads to read from the blocking streams).

Since `BufferingResponseListener` has a default of 2 MiB, I wonder what type

[2020-05-07 15:06] lmcalpin commented on #913
It varies widely as it is a general feature used by a wide variety of customers with widely varying use cases.  [CometD is how we expose our Platform Events feature for consumption off of the Salesforce platform](https://developer.salesforce.com/docs/atlas.en-us.platform_events.meta/platform_events/platform_events_subscribe_cometd.htm).  Similar to Kafka, it is an ordered event stream with a Repla

[2020-05-07 15:39] sbordet commented on #913
I understand correctly that you also control the clients?
If so, why cannot you set the `maxMessageSize` to a very large value?

[2020-05-07 20:06] lmcalpin commented on #913
No, we don't control the clients.  We simply have the sample app, which uses the CometD Java library under the hood.  But I'm just trying to start with removing this limit from the sample app since quite a few customers simply took that unsupported demo app and cut and pasted it into their production systems.

Setting maxMessageSize to MAX_INT certainly would avoid part of the problem, in the sens

[2020-05-07 20:22] sbordet commented on #913
A better solution would be to have a non-blocking JSON parser, which is something that I wanted to do for quite some time.

Are the benchmark and the results publicly available?

I understand for your use case it may be better, but not for every use case.

I would rather prefer a generic solution such as a non-blocking JSON parser rather than a blocking solution with threads.

[2020-05-08 16:34] lmcalpin commented on #913
Sadly, I had not used a non blocking JSON parser before, but I did some experimenting this morning with it and I think I may agree.  I updated the PR though it is just a steel thread/POC and would obviously need a lot more due diligence wrt testing and refactoring.

[2020-05-11 08:24] sbordet commented on #913
@lmcalpin I believe it's going to be good for CometD, both client and server, to have a non-blocking JSON parser.

I will work on this in the coming days.

[2020-05-19 20:44] rameshmurthy opened #915 "subscribeProps an object to be merged with the subscribe message is set to undefined"
Hi,
CometD java script client allows to subscribe to a channel using the subscribe method. Please follow the link (https://github.com/cometd/cometd/blob/5.0.x/cometd-javascript/common/src/main/webapp/js/cometd/cometd.js#L2795)

`this.subscribe = function(channel, scope, callback, subscribeProps, subscribeCallback) {
`
This method accepts `subscribeProps` argument. Internally it has some logic that

[2020-05-19 22:01] sbordet commented on #915
I don't understand?
What is the problem?
Can you show a clear example of how you use that code, what you expect to happen, and what happens instead?

[2020-05-19 22:38] rameshmurthy commented on #915
Excuse me for not making it clear.
I am working on a channel subscription authorization. Currently we are not passing any information with channel subscription request. When i looked at source code of cometd.js i found out it allows us to pass `subscribeProps` which is sent to the server as part of channel subscription request. I can use that information on the server to perform my channel subscri

[2020-05-19 22:47] sbordet commented on #915
I still don't understand.

`this.Callback` should be the last parameter as described in the jsdoc.

`client.subscribe(channel, messageFunction, subscribeProps, subscribeCallback)`.

I think you are getting the order of the parameters wrong.

[2020-05-19 22:49] rameshmurthy commented on #915
I think I should say this as not issue. Sorry for the confusion.
May be this is more of a ask how to pass the subscribeProps. I think that you have explained it rightly. Let us close the issue, thank you for your help.

[2020-05-19 22:55] #915 closed, assigned to nobody

[2020-05-28 09:42] sbordet opened #917 "Improve OortObject documentation"
* Expand on the introduction, detailing the comparison with non-composite solutions.
* Expand the `OortObject.Merger` section with an example about `OortMap` having to merge the same key, but also an example that shows graphically what happens if 2 nodes put the same key in an `OortMap`.
* Expand on the fact that it's a _composite_ `Map` and not a distributed-data style Map and document the differ

[2020-06-08 13:34] sbordet opened #918 "Improve client WebSocket transport synchronization"
[code]

This happens because the synchronization in `AbstractWebSocketTransport` is incorrect, as certain operations are synchronized, but others are not.

[2020-06-11 09:26] #913 closed, assigned to nobody

[2020-06-11 09:53] #918 closed, assigned to nobody

[2020-06-21 16:32] princejt opened #920 "For cometd client wait for publish message in queue before shutting down"
We are shutting down cometd client in the below fashion. Is there a way we can ensure that all the pending events are published ? Sometimes we are seeing issue where some of the events send just before triggering shutdown is lost.

[code]

[2020-06-22 07:56] sbordet commented on #920
Answered at https://stackoverflow.com/questions/62460090/for-cometd-client-wait-for-publish-message-in-queue-before-shutting-down/62509813#62509813.

[2020-06-22 07:56] #920 closed, assigned to nobody

[2020-07-01 01:21] nathklei opened #921 "Expired sessions being disconnected with Websocket transport"
I'll try to explain what I'm seeing as best as I can - it's fairly difficult to reproduce at the moment but I think I have a bit of an idea what's going on.

Background:
* Using the WebSocketTransport on the server
* Using the javascript client
* Using the AcknowledgedMessagesExtension on server and client

What I'm seeing is that from time to time, the server sends the client a /meta/connect mess

[2020-07-01 02:15] nathklei commented on #921
Or, an alternative would be to use putIfAbsent rather than a put to avoid overwriting the value set by unknownSession(), it seems.

[2020-07-01 14:23] nathklei commented on #921
I've put the first approach in this PR: https://github.com/cometd/cometd/pull/922

[2020-07-01 17:09] sbordet opened #923 "Investigate RFC 8030"
[Generic Event Delivery Using HTTP Push](https://tools.ietf.org/html/rfc8030).

[2020-07-01 21:05] nathklei commented on #921
One more data point in a report I've received - there is a ~39 second difference between when the client sent the last /meta/connect message (with ID 293 in this example) and the server sent the "402::unknown_session" back with the same ID (293).  Prior to that, the replies were consistently coming back every 30s - the default for timeout.  Do you have any ideas on what could cause that irregulari

[2020-07-08 14:00] sbordet commented on #921
@nathklei do you have more information about this ~39 s "timeout" that is handled incorrectly? Maybe DEBUG logs?

[2020-07-08 16:20] #921 closed, assigned to nobody

[2020-07-08 16:20] sbordet commented on #921
@nathklei are you able to test the latest `5.0.x` code with the fix?

[2020-07-08 20:54] nathklei commented on #921
Hey @sbordet I unfortunately do not have a reliable repro, and have not (yet) added DEBUG to one of our systems where we've repro'd the issue. I do have some chrome debugger websocket payloads that may help provided by the user who reported the issue:

[code]

The ~39 second gap is in between when the client sent its last ack to when the server replied with the 402. This is with the default settin

[2020-07-08 20:56] nathklei commented on #921
@sbordet really appreciate you helping with this, as well! Would you be able to create a release so I can fully integrate this change?

[2020-07-09 17:42] #917 closed, assigned to nobody

[2020-07-14 14:58] sbordet opened #924 "Memory leak with extension that deletes publish reply"
Similar to #783, but on the receiving side.

If an extension deletes (as in returns `false`) a publish reply, then the callback that was passed in for the publish will be leaked in the `AbstractClientSession._callbacks` map.

[2020-07-14 16:08] #924 closed, assigned to nobody

[2020-08-11 15:50] #903 closed, assigned to nobody

[2020-08-16 18:51] sbordet opened #925 "Improve efficiency of JSONContextServer JSON generation"
`JSONContextServer.generate(message)` could check whether the message is frozen, and if so return the already generated JSON.

`JSONContextServer.getGenerator()` could create the generator only once, and the `Generator` could use the same optimization above.

[2020-08-17 18:45] sbordet opened #926 "Review listeners methods that lack ServerMessage"
Since #752, `BayeuxContext` is now only retrievable via `ServerMessage`.

However, a few listeners (e.g. `ServerSession.RemoveListener`) have method signatures where the `ServerMessage` parameter is absent, which means that implementations won't have access to `BayeuxContext`.

Review such listeners and modify them to accept a `ServerMessage` parameter.

[2020-08-17 18:50] #925 closed, assigned to sbordet

[2020-08-27 17:45] #926 closed, assigned to sbordet

[2020-09-04 19:22] nathklei opened #927 "Question: Expected Behavior for Rehandshaking, Subscriptions and Acknowledgements"
Hello - I've been looking into how rehandshaking works, as from time to time I must re-authenticate my client with the service using a new credential.

I've figured out how to pass the new credential - simply mutate the handshake message that I initially sent into the original handshake with my new credential (though maybe a more explicit mechanism should be provided!). However, when I do rehandsh